{% extends "nirit/base.html" %}

{% load i18n static %}

{% block title %}Sign Up to Nirit{% endblock %}

{% block content %}
<div class="content sign-up edit">
    <div id="signup-card">
        <div class="padded">
            <h1>You have successfully signed up to Nirit</h1>
            <div class="description">
                <p>You need to confirm your email address before you can start using Nirit.</p>
                <p>You will shortly receive a confirmation email with instructions on how to do so.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
