{% extends "nirit/base.html" %}

{% load i18n static %}

{% block title %}Sign Up to Nirit{% endblock %}

{% block content %}
<div class="content sign-up edit">
    <div id="signup-card">
        <div class="padded">
            <h1>You have successfully signed up to Nirit</h1>
            <div class="description">
                <p>Thank you for registering.
                Your company owner has been notified that you are requesting to join.
                As soon as they approve your membership, you will be able to access the notice board and the directory.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
