/** 
 * Nirit Styles.
 * 
 * @version     2013-04-26 1.0.2
 * @author      Michael Giuliano <michael@beatscope.co.uk>
 * @copyright   2013 Beatscope Limited | http://www.beatscope.co.uk/
 */
* {
    margin:0;
    padding:0;
    outline:none;
}
html { background:#000; }
body {
    font:76% Arial,sans-serif;
    color:#fff;
    background:#236A87;
}
a { color:#CED9E4; text-decoration:none; }
a:link, a:visited, a:hover, a:active { outline:none; }
a:hover { color:#fff; text-decoration:underline; }
img { border:none; }
p, ul { padding:1em 0;}
ul li { margin:0 0 0 1.5em; padding:.2em 0; }
.hidden { display:none; }
.invisible { visibility:hidden; }
.padded { padding:10px; }
.doublepadded { padding:20px; }
.left { float:left; }
.right { float:right; }
.strong { font-weight:bold; }
.label {
    position:relative;
    color:#fff;
    font-size:0.8em;
    line-height:12px;
    padding:1px 4px;
    background:#2E7FA1;
    border-radius:2px;
}
.label.big { 
    font-size:1em;
    padding:5px 10px;
}
#content a.label,
#content a.label:hover {
    color:#fff;
    text-decoration:none;
}
.label.revoke,
.label.ban {
    padding-left:18px;
    background:#BF1E2D;
}
.label.revoke:after,
.label.ban:after {
    content:'';
    display:block;
    position:absolute;
    top:-1px;
    left:0;
    width:17px;
    height:16px;
    background-image:url(../images/master-icon.png);
    background-repeat:no-repeat;
    background-position:-136px 0;
}
.label.assign,
.label.activate {
    background:#2BB673;
}

#content a.label:hover {
    color:#fff;
    background:#348FB5;
}

/**
Colours
    Black               393939
    Nirit Blue          2E7FA1
    Blue (Light)        CED9E4
    Blue (Dark)         236A87
    Gradient            104D65

Icon Colours
    Grey (Normal)       D1D3D4
    Dark Grey (Hover)   B6B9BA
    Blue (Active)       2E7FA1

Cards
    Text                17566F
    Notice (Blue)       2E7FA1
    Official (Green)    2BB673
    Alert (Red)         BF1E2D

Side Bar
    Background          E5ECF3

Filters
    Normal              2E7FA1
    Hover               348FB5
    Active              1A5A74 

*/
.wrapper {
    position:relative;
    width:100%;
}
.container {
    position:relative;
    width:974px;
    margin:0 auto;
    z-index:10;
}
.container:after {
    clear:both;
    content: "";
    display:table;
}

#niritcookies { display:none; }
.banner {
    color:#B6B9BA;
    background:#363636;
}
    .banner div:after {
        clear:both;
        content: "";
        display:table;
    }
    .banner div { 
        padding:20px 0;
        width:70%;
        margin:0 auto;
    }
    .banner h2.banner-title,
    .banner p.banner-content,
    .banner ul.banner-options {
        margin:0;
        padding:0;
    }
    .banner h2.banner-title { 
        color:#fff;
        float:left;
        width:20%
    }
    .banner p.banner-content {
        float:left;
        width:55%;
        padding-right:5%;
    }
    .banner ul.banner-options {
        float:right;
        width:20%;
        list-style-type:none;
        text-align:center;
    }
    .banner button {
        padding:3px 10px;
        font-weight:bold;
        cursor:pointer;
        background:#CED9E4;
        border:solid 1px #236A87;
        border-radius:3px;
        outline:none;
    }
    .banner button::-moz-focus-inner { border: 0; }
    .banner button:hover,
    .banner button:focus {
        color:#fff;
        background:#348FB5;
    }
    .banner div:hover a { text-decoration:underline; }

header {
    width:100%;
    height:67px;
    background-image:url(../images/top-gradient.jpg);
    background-repeat:repeat-x;
}
#logo {
    color:#fff;
    font-size:1.4em;
    width:108px;
    padding:5px 10px;
}
    #logo a { 
        color:#fff;
        text-decoration:none;
    }

#user-corner {
    position:absolute;
    top:5px;
    right:10px;
    text-align:right;
}
    #user-corner a {
        font-size:1.8em;
        font-weight:bold;
        text-decoration:none;
    }
    #user-corner .today { font-size:1em; }

nav#top-links {
    position:absolute;
    top:-62px;
    left:140px;
}
nav#top-links:after {
    clear:both;
    content: "";
    display:table;
}
    nav#top-links ul {
        list-style-type:none;
    }
    nav#top-links ul li {
        position:relative;
        display:inline;
        margin:0 1px;
        padding-left:4px;
        border-left:solid 1px #2E7FA1;
    }
    nav#top-links ul li:first-child { 
        border:none;
    }
    nav#top-links ul li a { 
        position:relative;
        font-size:1em;
        margin:0;
        padding:3px;
        padding-left:20px;
    }
    nav#top-links ul li a.active,
    nav#top-links ul li a.highlight,
    nav#top-links ul li a:hover { 
        color:#fff;
        text-decoration:none;
    }
    nav#top-links ul li a.active,
    nav#top-links ul li a.highlight { position:relative; }

    nav#top-links ul li a span {
        position:absolute;
        top:3px;
        left:0;
        display:block;
        width:17px;
        height:16px;
        background-image:url(../images/master-icon.png);
        background-repeat:no-repeat;
    }
    
        nav#top-links ul li a.notice-board span { background-position:-68px 0; }
        nav#top-links ul li a.notice-board:hover span,
        nav#top-links ul li a.notice-board.active span { background-position:-68px -16px; }
        nav#top-links ul li a.directory span { background-position:-85px 0; }
        nav#top-links ul li a.directory:hover span,
        nav#top-links ul li a.directory.active span { background-position:-85px -16px; }
        nav#top-links ul li a.company span { background-position:-102px 0; }
        nav#top-links ul li a.company:hover span,
        nav#top-links ul li a.company.active span { background-position:-102px -16px; }

nav#sub-links {
    background:#2E7FA1;
    height:26px;
}
    nav#sub-links ul {
        width:644px;
        margin:0;
        padding:0;
        line-height:12px;
        list-style-type:none;
    }
    nav#sub-links ul:after {
        clear:both;
        content: "";
        display:table;
    }
    nav#sub-links ul li {
        display:block;
        float:left;
        margin:0;
        padding:0;
        border-right:solid 1px #1A5A74;
    }
    nav#sub-links ul li.first {
        border-left:solid 1px #1A5A74;
    }
    nav#sub-links ul li.right {
        float:right;
        border-left:solid 1px #1A5A74;
    }
    nav#sub-links ul li a {
        display:block;
        background:#2E7FA1;
        margin:0;
        padding:7px 10px;
        text-decoration:none;
    }
    nav#sub-links ul li a.active,
    nav#sub-links ul li a:active { 
        color:#fff;
        background:#1A5A74;
    }
    nav#sub-links ul li a:hover { 
        color:#fff;
        background:#348FB5;
    }
    nav#sub-links ul li a.active:hover { background:#1A5A74; }
    nav#sub-links ul li a.new-card {
        position:relative;
        padding-right:32px;
    }
    nav#sub-links ul li a.new-card span {
        position:absolute;
        top:5px;
        right:10px;
        display:block;
        width:17px;
        height:16px;
        background-image:url(../images/master-icon.png);
        background-repeat:no-repeat;
        background-position:-51px -16px;
    }
     nav#sub-links ul li a.new-card:hover span {
        background-position:-51px 0;
    }

#me {
    position:absolute;
    top:6px;
    right:10px;
    font-size:0.9em;
    font-style:italic;
    color:#CED9E4;
    text-align:right;
}
    #me a { color:#fff; }
    #me span { 
        border-left:solid 1px #fff;
        margin-left:5px;
        padding-left:5px;
    }

footer {
    position:relative;
    width:100%;
    margin-top:-143px;
    padding-top:173px;
    background-color:#363636;
    background-image:url(../images/bottom-gradient.jpg);
    background-repeat:repeat-x;
    z-index:2;
}
footer #skyline {
    margin-top:-166px;
    background-image:url(../images/skyline.png);
    background-repeat:repeat-x;
    height:166px;
    z-index:3;
}
#footer {
    color:#B6B9BA;
    text-align:right;
    background-image:url(../images/footer-bg.png);
    background-repeat:repeat-x;
    background-position:0 0;
}
    #footer em { color:#666; }
    #footer ul {
        margin:0 auto;
        padding-top:60px;
        list-style-type:none;
    }
    #footer ul li {
        text-align:left;
    }
    #footer ul li.inline {
        display:inline;
    }
    #footer ul li.twitter {
        position:relative;
        text-align:right;
        margin-top:10px;
    }
        #footer ul li.twitter em { 
            position:relative;
            padding-right:5px;
            top:-2px;
        }
        #footer ul li.twitter a {
            display:inline-block;
            width:61px;
            height:15px;
            background-image:url(../images/icon_twitter.png);
            background-repeat:no-repeat;
        }
    #footer ul li.last {
        text-align:right;
        margin-top:10px;
        border-top:solid 1px #393939;
    }

.content {
    width:100%;
    color:#393939;
}
    .content a { color:#236A87; }
    .content a:hover { color:#348FB5; text-decoration:underline; }

.filled {
    color:#393939;
    background:#fff;
}

#main {
    float:left;
    width:646px;
    margin-top:10px;
}
#sidebar {
    float:left;
    width:318px;
    margin-left:10px;
    margin-top:10px;
    background:#E5ECF3;
}

ul.errorlist {
    position:relative;
    color:#fff;
    padding-left:20px;
    background:#e33c2f;
}

.box {
    border-top:solid 1px #fff;
    border-bottom:solid 1px #CED9E4;
}
.error403 {
    margin-top:10px;
    margin-bottom:200px;
}

/** MPU **/
.ad-slot {
    width:300px;
    height:250px;
    margin:10px auto;
    text-align:center;
    background:#fff;
}
.ad-slot p { padding:20px 0; }

/** Wide Skyscraper **/
.ad-slot-wide-skyscraper {
    width:160px;
    height:600px;
    text-align:center;
    background:#fff;
}
.ad-slot-wide-skyscraper p { padding:20px 0; }

/** AUTH CARDS **/
#content #login-card {
    position:relative;
    width:300px;
    margin-top:20px;
    padding:20px 20px 60px;
    background:#fff;
    border:solid 1px #236A87;
    box-shadow:2px 2px 3px #333;
}
#content #login-card form {
    width:100%;
}
#content #login-card #form-errors {
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    height:100%;
    background:#e33c2f;
}
#content #login-card #form-errors p,
#content #login-card #form-errors ul {
    margin:0;
    padding:20px;
    color:#fff;
    list-style-type:none;
}
#content #login-card #form-errors ul li { margin:0; }
#content #login-card .form-field {
    position:relative;
    margin:0;
    padding:0 0 15px;
}
    #content #login-card label {
        display:block;
        width:105px;
    }
    #content #login-card input[type='text'],
    #content #login-card input[type='password'] {
        position:absolute;
        top:0;
        right:0;
        width:180px;
    }
    #content #login-card ul#login-links {
        position:absolute;
        right:20px;
        bottom:20px;
        margin:0;
        padding:0;
        list-style-type:none;
    }
    #content #login-card ul#login-links li {
        margin:0;
        padding:0 0 0 10px;
        display:inline;
    }
    #content #login-card ul#login-links li:first-child {
        padding-left:0;
    }
    #content #login-card ul#login-links li input.button {
        margin:0;
        opacity:0.75;
    }
    #content #login-card ul#login-links li input.button:hover { opacity:1; }


/** PAGES **/
#content .page {
    position:relative;
    margin-top:10px;
    padding:40px 60px;
    background:#fff;
}
#content .page:after {
    clear:both;
    content: "";
    display:table;
}
    #content .page strong {
        color:#2E7FA1;
    }
    #content .page img {
        display:block;
        float:right;
        margin-left:40px;
    }


/** HOME/LANDING **/
body.home {
    background-image:url(../images/homepage-background.jpg);
    background-repeat:no-repeat;
    background-position:center 0;
    background-size:cover;
    background-attachment:fixed;
}
body.home header { display:none; }

#content .index {
    position:relative;
    padding:10px 0;
    height:500px;
}
#content .index:after {
    clear:both;
    content: "";
    display:table;
}
#content .index .sign-up-info {
    position:relative;
    width:547px;
    padding-top:140px;
    padding-left:45px;
    float:left;
}
    #content .index .sign-up-info .nirit,
    #content .index .sign-up-info .nirit a { 
        color:#fff;
        font-size:40px;
        font-weight:bold;
        text-decoration:none;
        text-shadow:0 1px 0 #666;
    }
    #content .index .sign-up-info .nirit img {
        display:block;
        width:35px;
        height:40px;
        position:absolute;
        top:142px;
        left:0;
    }
    #content .index .sign-up-info h2 {
        color:#fff;
        font-size:32px;
        text-shadow:0 1px 0 #666;
        width:70%;
    }
    #content .index .sign-up-info .actions {
        padding-top:30px;
    }
    #content .index .sign-up-info .actions a {
        padding:8px 15px;
        color:#ffffff;
        font-weight:bold;
        opacity:0.75;
        background-color:#17566F;
    }
    #content .index .sign-up-info .actions a:hover {
        opacity:1;
        text-decoration:none;
    }
        
#content .index .sign-in-card { 
    width:382px;
    float:left;
    padding-top:140px;
}
#landing footer {
    margin:0;
    padding:0;
}
    #landing footer #skyline { display:none; }

/*#building-card {
    position:relative;
    width:280px;
    height:95px;
    margin:20px;
    padding:10px;
    background:#fff;
    border:solid 1px #236A87;
    box-shadow:2px 2px 3px #333;
    overflow:hidden;
}
#building-card h2 {}
#building-card .members {}
#building-card .posts {}
ul#building-links {
    position:absolute;
    left:10px;
    bottom:2px;
    list-style-type:none;
}
ul#building-links li {
    margin:0;
    padding:0 5px;
    display:inline;
}
ul#building-links li:first-child {
    padding-left:0;
}*/


/** BOARDS **/
#cards { width:646px; }
#cards .card {
    position:relative;
    margin-bottom:10px;
    padding:10px;
    color:#393939;
    background:#fff;
}
#cards .card:after {
    clear:both;
    content: "";
    display:table;
}
#cards .card .category {
    position:absolute;
    top:0;
    left:-10px;
    background:#2E7FA1;
    height:100%;
    width:10px;
}
#cards .card .category.alert { background:#BF1E2D; }
#cards .card .category.official { background:#2BB673; }

#cards .card.is-new { background:#66BD99; }
#cards .card.highlight,
#cards .card.highlight:hover { background:#cc9966; }
#cards #card_undefined.card { background:#ccc; }
#cards #card_undefined.card .category { display:none; }

    #cards .card .avatar {
        position:relative;
        float:left;
        width:60px;
        height:60px;
    }
        #cards .card .avatar img {
            display:block;
            width:60px;
            height:auto;
            margin:auto;
        }
    #cards .card .subject {
        float:left;
        width:540px;
        padding:0 10px;
        font-size:1.2em;
    }
    #cards .card .body {
        float:left;
        width:540px;
        padding:0 10px 10px;
        font-size:1.1em;
    }
    #cards .card .body.truncated .label { 
        cursor:pointer;
    }
    #cards .card .body p { 
        color:#393939;
        padding:.5em 0;
    }
    #cards .card .age {
        clear:left;
        padding-top:5px;
        font-style:italic;
        color:#777;
    }
    #cards .card .sender span {
        font-style:italic;
        font-weight:bold;
    }
    
    #cards .card ul { 
        position:relative;
        top:-14px;
        margin-bottom:-14px;
        float:right;
        padding:0;
        list-style-type:none;
        z-index:20;
    }
    #cards .card ul:after {
        clear:both;
        content: "";
        display:table;
    }
    #cards .card ul li { 
        float:left;
        margin:0;
        padding:0;
    }
    #cards .card ul li.has-new {
        padding:0 5px;
    }
        #cards .card ul li.has-new span {
            display:block;
            color:#fff;
            font-size:0.8em;
            line-height:12px;
            padding:0px 3px;
            background:#2E7FA1;
            border-radius:2px;
        }
    #cards .card ul li.replies {
        width:17px;
        height:16px;
    }
        #cards .card ul li.replies a {
            display:block;
            width:17px;
            height:16px;
            font-size:0.8em;
            text-align:center;
            background-image:url(../images/master-icon.png);
            background-repeat:no-repeat;
            background-position:0 0;
        }
        #cards .card ul li.replies a:hover {
            color:#393939;
            text-decoration:none;
            background-position:0 -16px;
        }
    #cards .card ul li.reply {
        width:17px;
        height:16px;
    }
        #cards .card ul li.reply a {
            display:block;
            width:17px;
            height:16px;
            background-image:url(../images/master-icon.png);
            background-repeat:no-repeat;
            background-position:-17px 0;
        }
        #cards .card ul li.reply a:hover {
            background-position:-17px -16px;
        }
    #cards .card ul li.star { 
        width:17px;
        height:16px;
    }
        #cards .card ul li.star a {
            display:block;
            width:17px;
            height:16px;
            background-image:url(../images/master-icon.png);
            background-repeat:no-repeat;
            background-position:-34px 0;
        }
        #cards .card ul li.star a:hover {
            background-position:-34px -16px;
        }
        #cards .card ul li.star a.active {
            background-position:-34px -32px;
        }

    #cards a.plus {
        display:block;
        font-weight:bold;
        color:#fff;
        background:#2E7FA1;
    }
    #cards a.plus span {
        display:block;
        text-align:center;
        padding:5px;
        line-height:14px;
    }
    #cards a.plus:hover { 
        text-decoration:none;
        background:#348FB5;
    }
    #cards a.plus.loading {
        background:url(../images/ajax-loader.gif) no-repeat 10px center;
    }

/** New/Reply Forms & All Replies Lists **/
#cards .char_count {
    position:absolute;
    top:10px;
    right:10px;
    color:#CED9E4;
}
#cards .card-add,
#cards .card-reply,
#cards .card-replies {
    position:relative;
    background:#1A5A74;
    border:solid 1px #CED9E4;
    border-radius:3px;
    margin-top:10px;
    padding:10px;
    padding-left:20px;
    z-index:10;
}
#cards .card-replies .card .body { width:490px; }
#cards .card-replies .card .body p:first-child { padding-top:0; }
#cards .card-add { margin:10px; }
#cards .box-title { 
    color:#fff;
    padding-top:0;
    font-weight:bold;
    position:relative;
}
    #cards .box-title span.close {
        position:absolute;
        left:-18px;
        width:17px;
        height:16px;
        cursor:pointer;
        background-image:url(../images/master-icon.png);
        background-repeat:no-repeat;
        background-position:-136px 0;
    }
#cards input[type="text"].subject {
    width:98%;
    margin-bottom:3px;
    padding:3px 1%;
    border:none;
    background:#CED9E4;
}
#cards .card-add textarea.add,
#cards .card-reply textarea.reply {
    width:98%;
    padding:3px 1%;
    height:50px;
    border:none;
    resize:none;
    background:#CED9E4;
}

#cards .card-add button.add,
#cards .card-reply button.reply {
    display:block;
    margin:10px 0 0 auto;
    padding:3px 10px;
    font-weight:bold;
    cursor:pointer;
    background:#CED9E4;
    border:solid 1px #236A87;
    border-radius:3px;
    outline:none;
}
#cards .card-add button.add::-moz-focus-inner,
#cards .card-reply button.reply::-moz-focus-inner { border: 0; }
#cards .card-add button.add:hover,
#cards .card-add button.add:focus,
#cards .card-reply button.reply:hover,
#cards .card-reply button.reply:focus {
    color:#fff;
    background:#348FB5;
}
#cards .card-add .add-as-org,
#cards .card-reply .reply-as-org {
    color:#fff;
    position:relative;
    margin-top:10px;
}
#cards .card-add .add-as-org label,
#cards .card-reply .reply-as-org label {
    display:block;
    position:relative;
    padding:3px 18px;
}
#cards .card-add .add-as-org input[type='checkbox'],
#cards .card-reply .reply-as-org input[type='checkbox'] {
    position:absolute;
    bottom:3px;
    left:0;
}

#cards .card-add .add-as-type {
    position:relative;
    margin-top:10px;
    margin-bottom:-10px;
    width:70px;
    border:solid 1px #333;
    border-radius:3px;
    cursor:pointer;
    overflow:hidden;
}
#cards .card-add .add-as-type select {
    padding:5px;
    width:120px;
    cursor:pointer;
    background:#3d8f3d;
    border:none;
    color:#fff;
}
#cards .card-add .add-as-type option { 
    padding:0 5px;
    color:#000;
    background:#fff;
}


/** SIGN-UP **/
#content .sign-up { padding-bottom:160px; }
#content .sign-up p { padding:.5em 0; }
#signup-card {
    position:relative;
    margin-top:10px;
    padding:20px;
    background:#fff;
}
#signup-card:after {
    clear:both;
    content: "";
    display:table;    
}
#signup-card form {
    float:left;
    width:50%;
}
    #signup-card form .fields {
        padding-right:20px;
    }
    #signup-card form .fields,
    #signup-card form .text { margin:0 20px; }
    #signup-card form .fields .form-field {
        margin:10px 0;
    }
    #signup-card form .fields .form-field.agreed {
        margin-top:50px;
        margin-bottom:-20px;
    }
    #signup-card form input { border:solid 1px #ccc; }
    #signup-card form input.button {
        float:right;
    }
    #signup-card textarea {
        width:98%;
        padding:3px 1%;
        resize:none;
        border:solid 1px #ccc;
    }
    #signup-card form .description { margin-top:5px;  }
    #signup-card ul.errorlist {
        position:relative;
        top:5px;
        padding:0;
        margin:0;
        list-style-type:none;
    }
    #signup-card form .fields .form-field.agreed ul.errorlist {
        margin-bottom:30px;
    }
#signup-card .explanation {
    float:left;
    width:50%;
}
    #signup-card .explanation .text {
        margin:0 20px;
        padding:20px;
        color:#fff;
        background:#348FB5;
        font-size:1.1em;
        line-height:1.6em;
    }
    #signup-card .explanation .text p {
        padding:1em 0;
    }
    #signup-card .explanation .text h3 {
        color:#fff;
    }
    #signup-card .explanation .text a {
        background:#fff;
        padding:2px 3px;
        border-radius:3px;
    }
    #signup-card .explanation .text a:hover {
        text-decoration:none;
    }
    #signup-card .explanation .text .errorList {
        position:relative;
        color:#fff;
        background:#e33c2f;
        padding:10px;
    }


/** NOTICE BOARD **/
#content .board {
    position:relative;
}
#content .board:after {
    clear:both;
    content: "";
    display:table;
}
#content .board h1 {
    color:#fff;
    position:relative;
    font-size:1.4em;
    font-weight:normal;
    margin-bottom:10px;
}
#content .board h1 span {
    font-weight:bold;
}


/** DIRECTORY **/
#content .directory {
    width:100%;
    margin:10px 0;
}
#content .directory:after {
    clear:both;
    content: "";
    display:table;
}
#content .directory h1 {
    color:#fff;
    position:relative;
    font-size:1.4em;
    font-weight:normal;
    margin-bottom:10px;
}
#content .directory h1 span {
    font-weight:bold;
}

#content .directory #selection,
#content .directory #results,
#content .directory #sidebar-narrow {
    float:left;
    position:relative;
}
#content .directory #selection {
    width:192px;
    margin-right:10px;
}
    #content .directory #selection .selection {
        padding:10px;
    }

#content .directory #results {
    width:580px;
    margin-right:10px;
    padding:10px;
}

#content .directory #sidebar-narrow {
    width:162px;
    height:600px;
}

#content .directory #selection .tabs {}

#results #stream { 
    padding-bottom:10px;
}
#results .counter {
    padding:10px 0;
    color:#666;
}
#results .counter span { font-weight:bold; }
#results a#plus {
    display:none;
    font-weight:bold;
}
#results a#plus:hover { text-decoration:none; }

#results .card {
    position:relative;
    margin:5px;
    padding:10px;
    background:#fff;
    border:solid 1px #CED9E4;
    overflow:hidden;
}


/** ACCOUNT **/
#content .account {
    position:relative;
    padding-bottom:60px;
}
#content .account.edit { margin:10px 0; }
#content .account:after {
    clear:both;
    content: "";
    display:table;
}
#content .account h2 {
    padding:.8em 0 .2em;
}
#content .account h3 {
    color:#fff;
    padding:.8em 0 .2em;
}
#content .account.edit h3 {
    color:#393939;
}

#content .account p {
    padding:.8em 0;
    line-height:1.4em;
}

#content .account .heading {
    position:relative;
}
    #content .account .heading .box { padding-bottom:30px; }
    #content .account .heading p.job-title {
        padding:0;
        line-height:normal;
        color:#666;
    }
    #content .account .heading .roles {
        padding:0.5em 0;
    }
    #content .account .heading li.active {
        color:#236A87;
        font-weight:bold;
    }
    #content .account .heading li.inactive,
    #content .account .heading li span {
        color:#666;
        font-style:italic;
    }
    #content .account .heading a.button {
        position:absolute;
        bottom:10px;
        right:10px;
        padding:3px 10px;
        background:#CED9E4;
    }
    #content .account .heading a.button:hover {
        text-decoration:none;
        background:#348FB5;
        color:#fff;
    }
    #content .account .heading img#avatar {
        position:absolute;
        top:10px;
        right:10px;
        display:block;
        width:60px;
    }

#content .account .notices h3 {
    padding:10px;
}
#content .account .filled h3,
#content .account #sidebar h3 {
    color:#393939;
}
#content .account ul.approval-list {}
    #content .account ul.approval-list li {
        padding:5px 0;
    }
    #content .account a.activate,
    #content .account a.ban {
        margin-left:5px;
        padding-left:5px;
        border-left:solid 1px #2E7FA1;
    }


/** COMPANY PROFILE **/
#content .company-profile {
    position:relative;
    padding-bottom:60px;
}
#content .company-profile.edit { margin:10px 0; }
#content .company-profile:after {
    clear:both;
    content: "";
    display:table;
}
#content .company-profile .company-card {
    position:absolute;
    left:30px;
    bottom:-10px;
    background:#fff;
    border:solid 1px #CED9E4;
    padding:5px 50px 20px 20px;
    box-shadow:2px 2px 3px #333;
}
#content .company-profile .company-card .company-logo {}
#content .company-profile .company-card .company-logo img {display:block; }
#content .company-profile .company-card h1 { padding:10px 0; }
#content .company-profile .company-card a { color:#000; }
#content .company-profile .company-card a:hover { text-decoration:none; }
#content .company-profile .networked-switch {
    position:absolute;
    bottom:5px;
    right:7px;
    width:30px;
    height:30px;
    overflow:hidden;
    background:url(../images/icon_networked.png) no-repeat;
}
#content .company-profile .networked-switch:hover,
#content .company-profile .networked-switch:active { background-position:0 -30px; }
#content .company-profile .networked-switch.active { background-position:0 -60px; }
#content .company-profile ul.company-info {
    margin:0;
    padding:0;
    list-style:none;
}
    #content .company-profile ul.company-info li {
        margin:0;
        padding:0;
        line-height:1.4em;
        color:#666;
    }
#content .company-profile .heading {
    position:relative;
    width:626px;
    height:192px;
    background:#fff;
    padding:10px;
}
    #content .company-profile .heading a.button {
        position:absolute;
        bottom:-50px;
        right:10px;
        padding:3px 10px;
        background:#CED9E4;
    }
    #content .company-profile .heading a.button:hover {
        text-decoration:none;
        background:#348FB5;
        color:#fff;
    }

#content .company-profile .company-about {
    padding:20px;
}
#content .company-profile h2 {
    padding:.8em 0 .2em;
}
#content .company-profile #sidebar h2 {
    padding:0 0 .2em;
}
#content .company-profile h3 {
    padding:.8em 0 .2em;
    color:#fff;
}
#content .company-profile .filled h3,
#content .company-profile #sidebar h3 {
    color:#393939;
}

#content .company-profile p {
    padding:.8em 0;
    line-height:1.4em;
}
#content .company-profile .inline {}
#content .company-profile .inline:after {
    clear:both;
    content: "";
    display:table;
}
#content .company-profile .inline-block {
    width:50%;
    float:left;
}
#content .company-profile .charfield {
    margin-top:-2px;
    color:#666;
}

#content .company-profile ul.staff {
    list-style-type:none;
    margin:5px 0;
    padding:0;
}
#content .company-profile ul.staff li {
    position:relative;
    margin:0;
    padding:5px 0 5px 30px;
}
#content .company-profile ul.staff li a:hover { text-decoration:none; }
#content .company-profile ul.staff li img.avatar {
    position:absolute;
    left:5px;
    display:block;
    width:16px;
    border-top:solid 1px #fff;
    border-left:solid 1px #fff;
    border-bottom:solid 1px #CED9E4;
    border-right:solid 1px #CED9E4;
}
#content .company-profile .see-all {
    text-align:right;
}
#content .company-profile .see-all a {
    padding-right:20px;
    background-image: url(../images/arrow_right.png);
    background-repeat:no-repeat;
    background-position:right center;
}

#content .company-profile p.is-network {
    position:relative;
    padding:0 60px;
    margin:10px 0;
}
#content .company-profile span.is-network {
    position:absolute;
    top:-5px;
    left:20px;
    display:block;
    width:30px;
    height:30px;
    background:url(../images/icon_networked.png) no-repeat left top;
}
#content .company-profile span.is-network img { display:block; }
#content .company-profile span.is-network.active {
    background-position: left bottom;
}
#content .company-profile.staff .staff-list {}
#content .company-profile.staff .staff {
    position:relative;
    margin-bottom:10px;
    padding:10px;
    background:#fff;
    overflow:hidden;
}
#content .company-profile.staff .staff:hover { background:#CED9E4; }
#content .company-profile.staff .staff:after {
    clear:both;
    content: "";
    display:table;
}
#content .company-profile.staff .staff.pending { opacity:0.5; }
#content .company-profile.staff .staff:hover { opacity:1; }
#content .company-profile.staff .left { width:60px; }
#content .company-profile.staff .right { width:540px; }
#content .company-profile.staff .avatar {
    display:block;
    width:60px;
    height:60px;
}
    #content .company-profile.staff .avatar img {
        display:block;
        width:60px;
        height:auto;
        margin:auto;
    }
#content .company-profile.staff .approval-list { padding-left:10px }
#content .company-profile.staff .job-title { color:#666; }
#content .company-profile.staff .see-all {
    text-align:right;
    position:absolute;
    right:15px;
}

#content .company-profile.edit img.image-edit {
    width:626px;
    height:192px;
}
#content .company-profile.edit li.expertise-item {
    position:relative; 
    list-style-type:none;
}
    #content .company-profile.edit .expertise-item span.remove {
        position:absolute;
        top:2px;
        left:-18px;
        display:block;
        width:17px;
        height:16px;
        cursor:pointer;
        background-image:url(../images/master-icon.png);
        background-repeat:no-repeat;
        background-position:-136px -16px;
    }

/* Contact Form (Company & Member) */
#content .contact-success {
    margin:10px;
}
#content .contact-form {
    position:relative;
    background:#1A5A74;
    border:solid 1px #CED9E4;
    border-radius:3px;
    margin:10px;
    padding:10px;
    padding-left:20px;
    z-index:10;
}
#content .contact-form .box-title { 
    color:#fff;
    padding-top:0;
    font-weight:bold;
    position:relative;
}
    #content .contact-form .box-title span.close {
        position:absolute;
        left:-18px;
        width:17px;
        height:16px;
        cursor:pointer;
        background-image:url(../images/master-icon.png);
        background-repeat:no-repeat;
        background-position:-136px 0;
    }

#content .contact-form textarea {
    width:98%;
    padding:3px 1%;
    height:50px;
    border:none;
    resize:none;
    background:#CED9E4;
}
#content .contact-form button {
    display:block;
    margin:10px 0 0 auto;
    padding:3px 10px;
    font-weight:bold;
    cursor:pointer;
    background:#CED9E4;
    border:solid 1px #236A87;
    border-radius:3px;
    outline:none;
}
#content .contact-form button::-moz-focus-inner { border: 0; }
#content .contact-form button:hover,
#content .contact-form button.add:focus {
    color:#fff;
    background:#348FB5;
}


/**
 * Edit mode (All pages)
 */
#content .edit .edit-line {
    margin-bottom:10px;
}
#content .edit .edit-line:after {
    clear:both;
    content: "";
    display:table;
}
#content .edit .publish-line {
    position:relative;
    top:-25px;
    margin-bottom:-25px;
    float:right;
}
#content .edit img.image-edit,
#content .edit img.logo-edit,
#content .edit img.square_logo-edit,
#content .edit img.thumbnail-edit { 
    display:block;
    margin:5px;
}
#content .edit a.button {
    position:relative;
    top:0;
    right:0;
    padding:3px 10px;
    background:#CED9E4;
    line-height:1.4em;
}
#content .edit input.button {
    padding:2px 10px;
    margin-right:5px;
    color:#fff;
    font-weight:bold;
    background:#348FB5;
    line-height:1.4em;
    border:none;
}

#content .edit a.button:hover,
#content .edit input.button:hover {
    text-decoration:none;
    background:#348FB5;
    color:#fff;
    cursor:pointer;
}
#content .edit h2, .edit h3 {
    color:#393939;
}
#content .edit .required {
    color:#e33c2f;
    font-size:15px;
    font-weight:bold;
    padding:2px;
}
#content .edit input[type="text"],
#content .edit input[type="password"] {
    width:98%;
    padding:3px 1%;
}
#content .edit textarea {
    width:98%;
    padding:3px 1%;
    resize:none;
}
#content .edit .description {
    padding:0 0 .5em;
    font-style:italic;
    color:#666;
}
#content .edit div.description {
    margin-top:0;
}
#content .edit span.description { 
    display:block;
    margin-top:5px;
    font-size:0.9em;
}
#content ul.errorlist {
    position:relative;
        top:5px;
        padding:0;
        margin:0;
        list-style-type:none;
}

/** Edit mode overrides **/
#content .content.password.edit {
    padding-bottom:60px;
}
#content .password {
    position:relative;
    margin-top:10px;
    padding:20px;
    background:#fff;
}
#content .company-profile.edit h3 { color:#393939; }
#content .account.edit img.thumbnail-edit {
    width:60px;
    height:60px;
}
#content .account.edit span.primary {
    font-style:italic;
    color:#666;
}
