/** 
 * Nirit Styles.
 * 
 * @version     2013-11-04 1.1.0
 * @author      Michael Giuliano <michael@beatscope.co.uk>
 * @copyright   2013 Beatscope Limited | http://www.beatscope.co.uk/
 */

/**
Colours
    Black               393939
    Nirit Red           C0202F
    Gradient            104D65
    Links/Hover         236A87/348FB5
    Label               2E7FA1

Icon Colours
    Grey (Normal)       D1D3D4
    Light Grey          F2F2F3
    Dark Grey (Hover)   B6B9BA

Cards
    Text                17566F
    Notice (Blue)       2E7FA1
    Official (Green)    2BB673
    Alert (Red)         BF1E2D

Side Bar
    Background          E5ECF3
*/

* {
    margin:0;
    padding:0;
    outline:none;
}
html { background:#000; }
body {
    font:76% Arial,sans-serif;
    color:#fff;
    background:#fff;
}
a { color:#236A87; text-decoration:none; }
a:link, a:visited, a:hover, a:active { color:#348FB5; }
img { border:none; }
p, ul { padding:1em 0;}
ul li { margin:0 0 0 1.5em; padding:.2em 0; }
blockquote { 
    padding:10px;
    margin:10px;
    background:#E5ECF3;
}
textarea {
    font-family:Arial,sans-serif;
    font-size:1em;
}
.hidden { display:none; }
.invisible { visibility:hidden; }
.padded { padding:10px; }
.doublepadded { padding:20px; }
.left { float:left; }
.right { float:right; }
.strong { font-weight:bold; }
.label {
    position:relative;
    color:#fff;
    font-size:0.8em;
    line-height:12px;
    padding:1px 4px;
    background:#2E7FA1;
    border-radius:2px;
}
.label.big { 
    font-size:1em;
    padding:5px 10px;
}
#content a.label,
#content a.label:hover {
    color:#fff;
    text-decoration:none;
}
.label.revoke,
.label.ban {
    padding-left:18px;
    background:#BF1E2D;
}
.label.revoke:after,
.label.ban:after {
    content:'';
    display:block;
    position:absolute;
    top:-1px;
    left:0;
    width:17px;
    height:16px;
    background-image:url(../images/master-icon.png);
    background-repeat:no-repeat;
    background-position:-136px 0;
}
.label.assign,
.label.activate {
    background:#2BB673;
}

.button {
    display:block;
    padding:8px 15px;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
    background:#C0202F;
    border:none;
    outline:none;
    opacity:0.75;
}
a.button {
    color:#fff;
    font-weight:bold;
}
.button:hover,
.button:active,
.button:focus {
    opacity:1;
}
.button::-moz-focus-inner { border: 0; }

#content a.label:hover {
    color:#fff;
    background:#348FB5;
}

#content a.invite {
    position:relative;
    margin:10px 0 0;
    padding-right:32px;
}
    #content a.invite span {
        position:absolute;
        top:8px;
        right:15px;
        display:block;
        width:17px;
        height:16px;
        background-image:url(../images/master-icon.png);
        background-repeat:no-repeat;
        background-position:-51px -16px;
    }
    #content a.invite:hover span {
        background-position:-51px 0;
    }

#content a.create {
    position:relative;
    margin:10px 0 0;
    padding-right:32px;
}
    #content a.create span {
        position:absolute;
        top:8px;
        right:15px;
        display:block;
        width:17px;
        height:16px;
        background-image:url(../images/master-icon.png);
        background-repeat:no-repeat;
        background-position:-51px -16px;
    }
    #content a.create:hover span {
        background-position:-51px 0;
    }


.wrapper {
    position:relative;
    width:100%;
}
.container {
    position:relative;
    width:974px;
    margin:0 auto;
    z-index:10;
}
.container:after {
    clear:both;
    content: "";
    display:table;
}

#niritcookies { display:none; }
.banner {
    color:#B6B9BA;
    background:#363636;
}
    .banner div:after {
        clear:both;
        content: "";
        display:table;
    }
    .banner div { 
        padding:20px 0;
        width:70%;
        margin:0 auto;
    }
    .banner h2.banner-title,
    .banner p.banner-content,
    .banner ul.banner-options {
        margin:0;
        padding:0;
    }
    .banner h2.banner-title { 
        color:#fff;
        float:left;
        width:20%
    }
    .banner p.banner-content {
        float:left;
        width:55%;
        padding-right:5%;
    }
    .banner ul.banner-options {
        float:right;
        width:20%;
        list-style-type:none;
        text-align:center;
    }
    .banner button {
        margin:0 auto;
    }
    .banner a { color:#fff; }
    .banner div:hover a { text-decoration:underline; }

header {
    width:100%;
    padding:10px 0;
    background:#C0202F;
}
#logo {
    color:#fff;
    font-size:1.4em;
    width:108px;
    padding:5px 10px;
}
    #logo a { 
        color:#fff;
        text-decoration:none;
    }

#user-corner {
    position:absolute;
    top:0;
    right:10px;
    text-align:right;
}
    #user-corner a { color:#fff; }
    #user-corner h3 {
        font-size:1.8em;
        font-weight:bold;
        padding:0;
    }
    #user-corner .today { font-size:1em; }
    #user-corner .me {
        font-size:0.9em;
        font-style:italic;
        text-align:right;
    }
        #user-corner .me span {
            border-left:solid 1px #B6B9BA;
            margin-left:5px;
            padding-left:5px;
        }
        #user-corner .me a:hover {
            text-decoration:underline;
        }

nav#top-links {
    position:absolute;
    top:-62px;
    left:140px;
}
nav#top-links:after {
    clear:both;
    content: "";
    display:table;
}
    nav#top-links ul {
        list-style-type:none;
    }
    nav#top-links ul li {
        position:relative;
        display:inline;
        margin:0 1px;
        padding-left:4px;
        border-left:solid 1px #B6B9BA;
    }
    nav#top-links ul li:first-child { 
        border:none;
    }
    nav#top-links ul li a { 
        position:relative;
        font-size:1em;
        margin:0;
        padding:3px;
        padding-left:20px;
        color:#fff;
    }
    nav#top-links ul li a:hover {
        text-decoration:underline;
    }
    nav#top-links ul li a.active,
    nav#top-links ul li a.highlight {
        font-weight:bold;
    }
    nav#top-links ul li a span {
        position:absolute;
        top:3px;
        left:0;
        display:block;
        width:17px;
        height:16px;
        background-image:url(../images/master-icon.png);
        background-repeat:no-repeat;
    }
    
        nav#top-links ul li a.notice-board span { background-position:-68px 0; }
        nav#top-links ul li a.notice-board:hover span,
        nav#top-links ul li a.notice-board.active span { background-position:-68px -16px; }
        nav#top-links ul li a.directory span { background-position:-85px 0; }
        nav#top-links ul li a.directory:hover span,
        nav#top-links ul li a.directory.active span { background-position:-85px -16px; }
        nav#top-links ul li a.amenities span { background-position:-170px 0; }
        nav#top-links ul li a.amenities:hover span,
        nav#top-links ul li a.amenities.active span { background-position:-170px -16px; }
        nav#top-links ul li a.company span { background-position:-102px 0; }
        nav#top-links ul li a.company:hover span,
        nav#top-links ul li a.company.active span { background-position:-102px -16px; }

#footer {
    position:relative;
    color:#B6B9BA;
    text-align:right;
    background-color:#363636;
    background-image:url(../images/footer-bg.png);
    background-repeat:repeat-x;
    background-position:0 0;
}
    #footer a { color:#fff; }
    #footer a:hover { text-decoration:underline; }
    #footer em { color:#666; }
    #footer ul {
        margin:0 auto;
        padding-top:60px;
        list-style-type:none;
    }
    #footer ul li {
        text-align:left;
        margin-left:0;
    }
    #footer ul li.inline {
        display:inline;
        margin-left:10px;
    }
    #footer ul li.twitter {
        position:relative;
        text-align:right;
        margin-top:10px;
    }
        #footer ul li.twitter em { 
            position:relative;
            padding-right:5px;
            top:-2px;
        }
        #footer ul li.twitter a {
            display:inline-block;
            width:61px;
            height:15px;
            background-image:url(../images/icon_twitter.png);
            background-repeat:no-repeat;
        }
    #footer ul li.last {
        text-align:right;
        margin-top:10px;
        border-top:solid 1px #393939;
    }

#content {
    margin-bottom:10px;
}
.content {
    width:100%;
    color:#393939;
}

.filled {
    color:#393939;
    background:#fff;
}

#main {
    float:left;
    width:646px;
    margin-top:10px;
}
#sidebar {
    float:left;
    width:318px;
    margin-left:10px;
    margin-top:10px;
    background:#E5ECF3;
}

ul.errorlist,
.errors {
    position:relative;
    color:#e33c2f;
    font-weight:bold;
    line-height:1em;
}
ul.errorlist li { 
    margin:0;
    padding:0 0 10px;
}

.box {
    border-top:solid 1px #fff;
    border-bottom:solid 1px #F2F2F3;
}
.error403 {
    margin-top:10px;
    margin-bottom:200px;
}
.error404 {
    margin-top:10px;
    width:100%;
    height:500px;
    background:#fff url(../images/404.jpg) center center no-repeat;
}

/** MPU **/
.ad-slot {
    width:300px;
    height:250px;
    margin:10px auto;
    text-align:center;
    background:#fff;
}
.ad-slot p { padding:20px 0; }

/** Wide Skyscraper **/
.ad-slot-wide-skyscraper {
    width:160px;
    height:600px;
    text-align:center;
    background:#fff;
}
.ad-slot-wide-skyscraper p { padding:20px 0; }


/** Headers **/
#content h1 {
    position:relative;
    font-size:1.8em;
    font-weight:normal;
    margin-bottom:15px;
}
    #content h1 ul {
        display:inline;
        padding-left:15px;
    }
    #content h1 li {
        display:inline;
        margin:0;
        padding:0;
    }
    #content h1 li:after {
        content:".";
        font-size:0.8em;
        position:relative;
        top:-3px;
    }
    #content h1 li.last:after,
    #content h1 li:last-child:after {
        content:"";
    }
    #content h1 li span.active,
    #content h1 li a {
        color:#393939;
        font-size:0.5em;
    }
    #content h1 li span.active,
    #content h1 li a.active {
        color:#000;
        font-weight:bold;
    }
    #content h1 li a:hover {
        color:#000;
        text-decoration:underline;
    }
    #content h1 a.button {
        color:#fff;
        font-size:0.6em;
        margin:0;
    }
    #content h1 a.button.create {
        padding-right:42px;
    }
    #content h1 a.button:hover {
        color:#fff;
        text-decoration:none;
    }

#content h3 {}
    #content h3 ul {
        display:inline;
        padding-left:15px;
    }
    #content h3 li {
        display:inline;
        margin:0;
        padding:0;
    }
    #content h3 li:after {
        content:".";
        font-size:0.8em;
        position:relative;
        top:-3px;
    }
    #content h3 li.last:after,
    #content h3 li:last-child:after {
        content:"";
    }
    #content h3 a.button {
        color:#fff;
        font-size:0.9em;
        margin:0;
        margin-top:-10px;
        margin-right:-10px;
    }
    #content h3 a.button.create {
        padding-right:42px;
    }
    #content h3 a.button:hover {
        color:#fff;
        text-decoration:none;
    }


/** AUTH CARDS **/
#content #login-card {
    position:relative;
    width:300px;
    margin-top:20px;
    padding:20px 20px 60px;
    background:#fff;
    border:solid 1px #C0202F;
    box-shadow:2px 2px 3px #333;
}
#content #login-card form {
    width:100%;
}
#content #login-card #form-errors {
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:100%;
    height:100%;
    background:#fff;
    color:#e33c2f;
}
#content #login-card #form-errors p,
#content #login-card #form-errors ul {
    margin:0;
    padding:20px;
    list-style-type:none;
}
#content #login-card #form-errors ul li { margin:0; }
#content #login-card .form-field {
    position:relative;
    margin:0;
    padding:0 0 15px;
}
    #content #login-card label {
        display:block;
        width:105px;
    }
    #content #login-card input[type='text'],
    #content #login-card input[type='password'] {
        position:absolute;
        top:-2px;
        right:0;
        padding:4px;
        width:180px;
        border: 1px solid #CCCCCC;
    }
    #content #login-card ul#login-links {
        position:absolute;
        right:20px;
        bottom:20px;
        margin:0;
        padding:0;
        list-style-type:none;
    }
    #content #login-card ul#login-links li {
        margin:0;
        padding:0 0 0 10px;
        display:inline;
    }
    #content #login-card ul#login-links li:first-child {
        padding-left:0;
    }
    #content #login-card ul#login-links li input.button {
        display:inline;
        margin:0;
        opacity:0.75;
    }
    #content #login-card ul#login-links li input.button:hover { opacity:1; }


/** PAGES **/
#content .page {
    position:relative;
    margin-top:10px;
    padding:40px 60px;
    background:#fff;
}
#content .page:after {
    clear:both;
    content: "";
    display:table;
}
    #content .page strong {
        color:#C0202F;
    }
    #content .page img {
        display:block;
        float:right;
        margin-left:40px;
    }
    #content .page iframe {
        float:right;
        margin-left:40px;
    }


/** HOME/LANDING **/
body.home {
    background-image:url(../images/homepage-background.jpg);
    background-repeat:no-repeat;
    background-position:center 0;
    background-size:cover;
    background-attachment:fixed;
}
body.home header { display:none; }

nav#sub-links {
    background:#C0202F;
    height:26px;
}
    nav#sub-links ul {
        width:644px;
        margin:0;
        padding:6px 0;
        line-height:12px;
        list-style-type:none;
    }
    nav#sub-links ul li {
        display:inline;
        margin:0;
    }
    nav#sub-links ul li a {
        color:#fff;
        text-decoration:none;
    }
    nav#sub-links ul li a:hover {
        text-decoration:underline;
    }

#content .index {
    position:relative;
    padding:10px 0;
    height:320px;
}
#content .index:after {
    clear:both;
    content: "";
    display:table;
}
#content .index .sign-up-info {
    position:relative;
    width:547px;
    padding-top:50px;
    padding-left:45px;
    float:left;
}
    #content .index .sign-up-info .nirit,
    #content .index .sign-up-info .nirit a { 
        font-family:Calibri, Arial;
        color:#fff;
        font-size:52px;
        font-weight:bold;
        font-style:italic;
        text-decoration:none;
        text-shadow:0 1px 0 #666;
    }
    #content .index .sign-up-info h2 {
        color:#fff;
        font-size:28px;
        text-shadow:0 1px 0 #666;
        width:60%;
    }
    #content .index .sign-up-info .actions {
        padding-top:30px;
    }
    #content .index .sign-up-info .actions a {
        float:left;
        position:relative;
        margin-right:10px;
        padding:8px 15px;
    }
    #content .index .sign-up-info .actions a.video { padding-left:35px; }
    #content .index .sign-up-info .actions a.video span {
        position:absolute;
        top:8px;
        left:15px;
        display:block;
        width:10px; 
        height: 0; 
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent; 
        border-left:10px solid #fff; 
    }
        
#content .index .sign-in-card { 
    width:382px;
    float:left;
    padding-top:75px;
}

.home-content {
    background:#fff;
}
    .home-content .container {
        padding:20px 0;
    }
    .home-content h1 {
        font-family:Calibri, Arial;
        font-size:2.6em;
        margin-bottom:1em;
    }
    .home-content p,
    .home-content ul {
        font-size:1.2em;
        padding:0.9em 0;
    }
    .home-content ul:after {
        clear:both;
        content: "";
        display:table;
    }
    .home-content ul li {
        list-style-type:none;
        margin:0;
        padding:1em 0;
        padding-left:40px;
        background-repeat:no-repeat;
        background-position:left 1.2em;
    }
    .home-content ul li.home-item-secure { background-image:url(../images/homepage-icon-secure.png); }
    .home-content ul li.home-item-directory { background-image:url(../images/homepage-icon-directory.png); }
    .home-content ul li.home-item-profile { background-image:url(../images/homepage-icon-profile.png); }
    .home-content ul li.home-item-news { background-image:url(../images/homepage-icon-news.png); }
    .home-content ul li.home-item-local { background-image:url(../images/homepage-icon-local.png); }
    .home-content img {
        display:block;
        float:right;
        padding-right:20px;
        padding-left:20px;
    }
    .home-content .register {
        margin-top:10px;
        border-top:solid 1px #999;
        padding:0 30px;
        background:#F2F2F3;
    }
        .home-content .register input {
            float:left;
            width:350px;
            padding:7px;
            margin-right:15px;
            border:solid 1px #ccc;
        }
        .home-content .register button {
            float:left;
        }
        .home-content .register button.loading,
        .home-content .register button.loading:hover,
        .home-content .register button.loading:focus {
            width:40px;
            background:#C0202F url(../images/ajax-loader.gif) no-repeat 10px center;
            border:none;
            text-indent:-99999px;
            z-index:999;
        }
        .home-content .register .errors {
            clear:both;
            padding:10px 0;
        }


/** SIGN-UP **/
#content .sign-up { padding-bottom:160px; }
#content .sign-up p { padding:.5em 0; }
#signup-card {
    position:relative;
    margin-top:10px;
    padding:20px;
    background:#fff;
}
#signup-card:after {
    clear:both;
    content: "";
    display:table;    
}
#signup-card form {
    float:left;
    width:50%;
}
    #signup-card form .fields {
        padding-right:20px;
    }
    #signup-card form .fields h2 {
        margin-top:2em;
    }
    #signup-card form .fields,
    #signup-card form .text { margin:0 20px; }
    #signup-card form .fields .form-field {
        margin:10px 0;
    }
    #signup-card form .fields .form-field.agreed {
        margin-top:50px;
        margin-bottom:-20px;
    }
    #signup-card form input { border:solid 1px #ccc; }
    #signup-card form input.button {
        float:right;
    }
    #signup-card textarea {
        width:98%;
        padding:3px 1%;
        resize:none;
        border:solid 1px #ccc;
    }
    #signup-card form .description { margin-top:5px;  }
    #signup-card ul.errorlist {
        position:relative;
        top:5px;
        padding:0;
        margin:0;
        list-style-type:none;
    }
    #signup-card form .fields .form-field.agreed ul.errorlist {
        margin-bottom:30px;
    }
#signup-card .explanation {
    float:left;
    width:50%;
}
    #signup-card .explanation .text {
        margin:0 20px;
        padding:20px;
        background:#E5ECF3;
        font-size:1.1em;
        line-height:1.6em;
    }
    #signup-card .explanation .text p {
        padding:1em 0;
    }
    #signup-card .explanation .text .errorList {
        position:relative;
        color:#e33c2f;
        padding:10px;
    }


/** BOARDS **/
#cards { width:646px; }
#cards .card {
    position:relative;
    margin-bottom:10px;
    padding:10px;
    color:#393939;
    background:#F2F2F3;
}
#cards .card:after {
    clear:both;
    content: "";
    display:table;
}
#cards .card .category {
    position:absolute;
    top:0;
    left:-10px;
    background:#2E7FA1;
    height:100%;
    width:10px;
}
#cards .card .category.alert { background:#BF1E2D; }
#cards .card .category.official { background:#2BB673; }

#cards .card.is-new { background:#E3F2E7; }
#cards .card.highlight,
#cards .card.highlight:hover { background:#cc9966; }
#cards #card_undefined.card { background:#ccc; }
#cards #card_undefined.card .category { display:none; }

    #cards .card .avatar {
        position:relative;
        float:left;
        width:60px;
        height:60px;
    }
        #cards .card .avatar img {
            display:block;
            width:60px;
            height:60px;
            margin:auto;
        }
    #cards .card .subject {
        float:left;
        width:540px;
        padding:0 10px;
        font-size:1.2em;
    }
    #cards .card .body {
        float:left;
        width:540px;
        padding:0 10px 10px;
        font-size:1.1em;
    }
    #cards .card .body.truncated .label { 
        cursor:pointer;
    }
    #cards .card .body p { 
        color:#393939;
        padding:.5em 0;
    }
    #cards .card .age {
        clear:left;
        padding-top:5px;
        font-style:italic;
        color:#777;
    }
    #cards .card .sender span {
        font-style:italic;
        font-weight:bold;
    }
    
    #cards .card ul { 
        position:relative;
        top:-14px;
        margin-bottom:-14px;
        float:right;
        padding:0;
        list-style-type:none;
        z-index:20;
    }
    #cards .card ul:after {
        clear:both;
        content: "";
        display:table;
    }
    #cards .card ul li { 
        float:left;
        margin:0;
        padding:0;
    }
    #cards .card ul li.has-new {
        padding:0 5px;
    }
        #cards .card ul li.has-new span {
            display:block;
            color:#fff;
            font-size:0.8em;
            line-height:12px;
            padding:0px 3px;
            background:#2E7FA1;
            border-radius:2px;
        }
    #cards .card ul li.replies {
        width:17px;
        height:16px;
    }
        #cards .card ul li.replies a {
            display:block;
            width:17px;
            height:16px;
            font-size:0.8em;
            text-align:center;
            background-image:url(../images/master-icon.png);
            background-repeat:no-repeat;
            background-position:0 0;
        }
        #cards .card ul li.replies a:hover {
            color:#393939;
            text-decoration:none;
            background-position:0 -16px;
        }
    #cards .card ul li.reply {
        width:17px;
        height:16px;
    }
        #cards .card ul li.reply a {
            display:block;
            width:17px;
            height:16px;
            background-image:url(../images/master-icon.png);
            background-repeat:no-repeat;
            background-position:-17px 0;
        }
        #cards .card ul li.reply a:hover {
            background-position:-17px -16px;
        }
    #cards .card ul li.star { 
        width:17px;
        height:16px;
    }
        #cards .card ul li.star a {
            display:block;
            width:17px;
            height:16px;
            background-image:url(../images/master-icon.png);
            background-repeat:no-repeat;
            background-position:-34px 0;
        }
        #cards .card ul li.star a:hover {
            background-position:-34px -16px;
        }
        #cards .card ul li.star a.active {
            background-position:-34px -32px;
        }

    #cards a.plus {
        text-align:center;
    }
    #cards a.plus.loading {
        color:#C0202F;
        background-image: url(../images/ajax-loader.gif);
        background-repeat: no-repeat;
        background-position: 10px center;
    }

/** New/Reply Forms & All Replies Lists **/
#cards .char_count {
    position:absolute;
    top:10px;
    right:10px;
}
#cards .card-add,
#cards .card-reply,
#cards .card-replies {
    position:relative;
    background:#B6B9BA;
    margin:10px auto;
    padding:10px;
    padding-left:20px;
    z-index:10;
}
#cards .card-replies .card .body { width:490px; }
#cards .card-replies .card .body p:first-child { padding-top:0; }
#cards .box-title { 
    padding-top:0;
    font-weight:bold;
    position:relative;
}
    #cards .box-title span.close {
        position:absolute;
        left:-18px;
        width:17px;
        height:16px;
        cursor:pointer;
        background-image:url(../images/master-icon.png);
        background-repeat:no-repeat;
        background-position:-136px -16px;
    }
#cards input[type="text"].subject {
    width:98%;
    margin-bottom:3px;
    padding:3px 1%;
    border:none;
    background:#F2F2F3;
}
#cards .card-add textarea.add,
#cards .card-reply textarea.reply {
    width:98%;
    padding:3px 1%;
    height:50px;
    border:none;
    resize:none;
    background:#F2F2F3;
}

#cards .card-add button.add,
#cards .card-reply button.reply {
    margin:10px 0 0 auto;
}
#cards .card-add .add-as-org,
#cards .card-reply .reply-as-org {
    position:relative;
    margin-top:10px;
}
#cards .card-add .add-as-org label,
#cards .card-reply .reply-as-org label {
    display:block;
    position:relative;
    padding:3px 18px;
}
#cards .card-add .add-as-org input[type='checkbox'],
#cards .card-reply .reply-as-org input[type='checkbox'] {
    position:absolute;
    bottom:3px;
    left:0;
}

#cards .card-add .add-as-type {
    position:relative;
    margin-top:10px;
    margin-bottom:-10px;
    width:70px;
    border:none;
    cursor:pointer;
    overflow:hidden;
}
#cards .card-add .add-as-type select {
    padding:5px;
    width:120px;
    cursor:pointer;
    background:#3d8f3d;
    border:none;
    color:#fff;
}
#cards .card-add .add-as-type option { 
    padding:0 5px;
    color:#000;
    background:#fff;
}

/** Invite Boxes **/
#content .invite-box {
    position:relative;
}
    #content .invite-box textarea,
    #content .invite-box input[type="text"] {
        width:292px;
        padding:2px;
        border:1px solid #F2F2F3;
        resize:none;
    }
    #content .invite-box .help {
        padding:.5em 10px;
        font-style:italic;
        color:#666;
    }
    #content .invite-box .errors {
        position:absolute;
        bottom:8px;
        left:10px;
    }
    #content .invite-box .button {
        margin:10px 0 0 auto;
    }
    #content .invite-box .button.loading,
    #content .invite-box .button.loading:hover,
    #content .invite-box .button.loading:focus {
        width:40px;
        background:#C0202F url(../images/ajax-loader.gif) no-repeat 10px center;
        border:none;
        text-indent:-99999px;
        z-index:999;
    }


/** NOTICE BOARD **/
#content .board {
    position:relative;
}
#content .board:after {
    clear:both;
    content: "";
    display:table;
}
#content .board h1 {
    margin-top:10px;
}


/** DIRECTORY **/
#content .directory {
    width:100%;
    margin:10px 0;
}
#content .directory:after {
    clear:both;
    content: "";
    display:table;
}
#content .directory h1 {
    margin-top:10px;
}
#content .directory #results,
#content .directory #sidebar-narrow {
    float:left;
    position:relative;
}
#content .directory #results {
    width:804px;
    margin-right:10px;
}

#content .directory #sidebar-narrow {
    width:160px;
    height:600px;
}

#results #stream {}

#results .counter {
    margin-top:-10px;
    margin-bottom:15px;
    color:#666;
}
    #results .counter span {
        color:#232323;
        font-weight:bold;
    }

#results .card {
    position:relative;
    margin:5px 0;
    overflow:hidden;
}
    #results .card h3 { 
        font-size:1.2em;
        padding:10px;
        color:#666;
        text-align:center;
        background:#F2F2F3;
        border-bottom:solid 1px #B6B9BA;
    }
#results .company-item {
    position:relative;
    padding:15px 30px 0;
}
#results .company-item:last-child {
    border:none;
    margin-bottom:10px;
}
    #results .company-item img {
        display:block;
        width:32px;
        height:32px;
        position:absolute;
    }
    #results .company-item .company-info {
        margin-left:58px;
        padding-bottom:15px;
        border-bottom:solid 1px #DDD;
    }
    #results .company-item:last-child .company-info {
        border:none;
    }
    #results .company-item .company-info .company-floor,
    #results .company-item .company-info .company-department {
        font-weight:bold;
    }
    #results .company-item .company-info .company-expertise { color:#666; }


/** AMENITIES **/
#content .amenities {
    width:100%;
    margin:10px 0;
}
#content .amenities:after {
    clear:both;
    content: "";
    display:table;
}
#content .amenities h1 {
    margin-top:10px;
}
#content .amenities #results,
#content .amenities #sidebar-narrow {
    float:left;
    position:relative;
}
#content .amenities #results {
    width:804px;
    margin-right:10px;
}

#content .amenities #sidebar-narrow {
    width:160px;
    height:600px;
}

#results .supplier-item {
    position:relative;
    padding:15px 30px 0;
}
#results .supplier-item:last-child {
    border:none;
    margin-bottom:10px;
}
    #results .supplier-item .supplier-icon {
        width:30px;
        height:30px;
        position:absolute;
        background:url(../images/supplier-icons-30x30.jpg) 0 0 no-repeat;
    }
        #results .supplier-item .supplier-icon.supplier-bar { background-position: -30px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-bar { background-position: -30px -30px; }
        #results .supplier-item .supplier-icon.supplier-coffee-shop { background-position: -60px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-coffee-shop { background-position: -60px -30px; }
        #results .supplier-item .supplier-icon.supplier-restaurant { background-position: -90px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-restaurant { background-position: -90px -30px; }
        #results .supplier-item .supplier-icon.supplier-takeaway { background-position: -120px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-takeaway { background-position: -120px -30px; }
        #results .supplier-item .supplier-icon.supplier-post-office { background-position: -150px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-post-office { background-position: -150px -30px; }
        #results .supplier-item .supplier-icon.supplier-club { background-position: -180px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-club { background-position: -180px -30px; }
        #results .supplier-item .supplier-icon.supplier-pub { background-position: -210px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-pub { background-position: -210px -30px; }
        #results .supplier-item .supplier-icon.supplier-shopping { background-position: -240px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-shopping { background-position: -240px -30px; }
        #results .supplier-item .supplier-icon.supplier-stationary { background-position: -270px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-stationary { background-position: -270px -30px; }
        #results .supplier-item .supplier-icon.supplier-dry-cleaning { background-position: -300px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-dry-cleaning { background-position: -300px -30px; }
        #results .supplier-item .supplier-icon.supplier-gym { background-position: -330px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-gym { background-position: -330px -30px; }
        #results .supplier-item .supplier-icon.supplier-street-food { background-position: -360px 0; }
        #results .supplier-item:hover .supplier-icon.supplier-street-food { background-position: -360px -30px; }
    
    #results .supplier-item .supplier-info {
        margin-left:58px;
        padding-bottom:15px;
        border-bottom:solid 1px #DDD;
    }
    #results .supplier-item:last-child .supplier-info {
        border:none;
    }
    #results .supplier-item .supplier-info .supplier-name,
    #results .supplier-item .supplier-info .supplier-type {
        font-weight:bold;
    }
    #results .supplier-item .supplier-info .supplier-address {
        color:#666;
        font-style:italic;
    }
    #results .company-item .company-info .company-expertise { color:#666; }

#content .amenities #map {
    position:relative;
    margin-top:15px;
    height:480px;
    border: dashed 1px #DDD;
}


/** SUPPLIER **/
#content .supplier {}
#content .supplier:after {
    clear:both;
    content: "";
    display:table;
}
#content .supplier h1 {
    margin-top:10px;
}
#content .supplier h1:after {
    clear:both;
    content: "";
    display:table;
}
#content .supplier .heading {
    margin-top:10px;
}
#content .supplier h3 {
    font-size:1.2em;
    padding:10px;
    margin-bottom:10px;
    color:#666;
    text-align:center;
    background:#F2F2F3;
    border-bottom:solid 1px #B6B9BA;
}
#content .supplier .supplier-description {
    padding-right:20px;
}
#content .supplier #map {
    position:relative;
    height:250px;
    margin:10px;
    border: dashed 1px #DDD;
}


/** ACCOUNT **/
#content .account {
    position:relative;
}
#content .account:after {
    clear:both;
    content: "";
    display:table;
}
#content .account h2 {
    padding:.8em 0 .2em;
}
#content .account h3 {
    color:#fff;
    padding:.8em 0 .2em;
}
#content .account.edit h3 {
    color:#393939;
}

#content .account p {
    padding:.8em 0;
    line-height:1.4em;
}

#content .account .heading {
    position:relative;
}
    #content .account .heading .box { padding-bottom:30px; }
    #content .account .heading p.job-title {
        padding:0;
        line-height:normal;
        color:#666;
    }
    #content .account .heading .roles {
        padding:0.5em 0;
    }
    #content .account .heading img#avatar {
        position:absolute;
        top:52px;
        right:10px;
        display:block;
        width:60px;
        height:60px;
    }
    
#content .account .bio h3,
#content .account .notices h3 {
    font-size:1.2em;
    padding:10px;
    margin-bottom:10px;
    color:#666;
    text-align:center;
    background:#F2F2F3;
    border-bottom:solid 1px #B6B9BA;
}
#content .account .bio {
    margin-bottom:15px;
}
    #content .account .bio p {
        padding-left:15px;
        padding-right:15px;
    }
#content .account #sidebar h3 {
    color:#393939;
}
#content .account ul.approval-list {}
    #content .account ul.approval-list li {
        padding:5px 0;
    }
    #content .account a.activate,
    #content .account a.ban {
        margin-left:5px;
        padding-left:5px;
        border-left:solid 1px #2E7FA1;
    }


/** COMPANY PROFILE **/
#content .company-profile {
    position:relative;
}
#content .company-profile:after {
    clear:both;
    content: "";
    display:table;
}
#content .company-profile #company-map {
    position:relative;
    height:191px;
    border: dashed 1px #DDD;
}
#content .company-profile h1 {
    margin:10px;
}
#content .company-profile .company-card {
    position:absolute;
    left:30px;
    bottom:-10px;
    background:#fff;
    border:solid 1px #F2F2F3;
    padding:5px 50px 20px 20px;
    box-shadow:2px 2px 3px #333;
}
#content .company-profile .company-card .company-logo {}
#content .company-profile .company-card .company-logo img {
    display:block;
    width:180px;
    height:90px;
}
#content .company-profile .company-card h2 {
    font-size:1.8em;
}
#content .company-profile .company-card a { color:#000; }
#content .company-profile .company-card a:hover { text-decoration:none; }
#content .company-profile .networked-switch {
    position:absolute;
    bottom:5px;
    right:7px;
    width:30px;
    height:30px;
    overflow:hidden;
    background:url(../images/icon_networked.png) no-repeat;
}
#content .company-profile .networked-switch:hover,
#content .company-profile .networked-switch:active { background-position:0 -30px; }
#content .company-profile .networked-switch.active { background-position:0 -60px; }
#content .company-profile ul.company-info {
    margin:0;
    padding:0;
    list-style:none;
}
    #content .company-profile ul.company-info li {
        margin:0;
        padding:0;
        line-height:1.4em;
        color:#666;
    }
#content .company-profile .heading {
    position:relative;
    width:626px;
    height:192px;
    background:#fff;
    padding:10px;
}
    #content .company-profile .heading a.button {
        position:absolute;
        bottom:-50px;
        right:10px;
        padding:3px 10px;
        background:#F2F2F3;
    }
    #content .company-profile .heading a.button:hover {
        text-decoration:none;
        background:#348FB5;
        color:#fff;
    }

#content .company-profile .company-about {
    padding:20px;
}
#content .company-profile h2 {
    padding:.8em 0 .2em;
}
#content .company-profile #sidebar h2 {
    padding:0 0 .2em;
}
#content .company-profile h3 {
    padding:.8em 0 .2em;
}
#content .company-profile .filled h3,
#content .company-profile #sidebar h3 {
    color:#393939;
}

#content .company-profile p {
    padding:.8em 0;
    line-height:1.4em;
}
#content .company-profile .inline {}
#content .company-profile .inline:after {
    clear:both;
    content: "";
    display:table;
}
#content .company-profile .inline-block {
    width:50%;
    float:left;
}
#content .company-profile .charfield {
    margin-top:-2px;
    color:#666;
}
#content .company-profile ul.company-links {
    list-style-type:none;
    height:32px;
    margin:0;
    margin-top:15px;
}
    #content .company-profile ul.company-links li {
        float:left;
        margin-left:0;
        margin-right:15px;
    }
    #content .company-profile ul.company-links li a,
    #content .company-profile ul.company-links li img,
    #content .company-profile ul.company-links li span { 
        display:block;
        float:left;
    }
    #content .company-profile ul.company-links li span {
        font-size:1.2em;
        padding:5px 0;
        padding-left:5px;
        height:22px;
        line-height:22px;
    }
    #content .company-profile ul.company-links li img {
        width:32px;
        height:32px;
        background:url(../images/social-link-icons.png) no-repeat;
    }
        #content .company-profile ul.company-links li.website img {}
        #content .company-profile ul.company-links li.website:hover img { background-position:0 -32px; }
        #content .company-profile ul.company-links li.facebook img { background-position:-96px 0; }
        #content .company-profile ul.company-links li.facebook:hover img { background-position:-96px -32px; }
        #content .company-profile ul.company-links li.twitter img { background-position:-64px 0; }
        #content .company-profile ul.company-links li.twitter:hover img { background-position:-64px -32px; }
        #content .company-profile ul.company-links li.linkedin img { background-position:-32px 0; }
        #content .company-profile ul.company-links li.linkedin:hover img { background-position:-32px -32px; }

#content .company-profile ul.staff {
    list-style-type:none;
    margin:5px 0;
    padding:0;
}
#content .company-profile ul.staff li {
    position:relative;
    margin:0;
    padding:5px 0 5px 30px;
}
#content .company-profile ul.staff li a:hover { text-decoration:none; }
#content .company-profile ul.staff li img.avatar {
    position:absolute;
    left:5px;
    display:block;
    width:16px;
    height:16px;
    border-top:solid 1px #fff;
    border-left:solid 1px #fff;
    border-bottom:solid 1px #F2F2F3;
    border-right:solid 1px #F2F2F3;
}
#content .company-profile .see-all {
    text-align:right;
}
#content .company-profile .see-all a {
    padding-right:20px;
    background-image: url(../images/arrow_right.png);
    background-repeat:no-repeat;
    background-position:right center;
}

#content .company-profile a.button.invite {
    color:#fff;
    text-decoration:none;
}
#content .company-profile p.is-network {
    position:relative;
    padding:0 60px;
    margin:10px 0;
}
#content .company-profile span.is-network {
    position:absolute;
    top:-5px;
    left:20px;
    display:block;
    width:30px;
    height:30px;
    background:url(../images/icon_networked.png) no-repeat left top;
}
#content .company-profile span.is-network img { display:block; }
#content .company-profile span.is-network.active {
    background-position: left bottom;
}
#content .company-profile.staff .staff-list {}
#content .company-profile.staff .staff {
    position:relative;
    margin-bottom:10px;
    padding:10px;
    background:#F2F2F3;
    overflow:hidden;
}
#content .company-profile.staff .staff:after {
    clear:both;
    content: "";
    display:table;
}
#content .company-profile.staff .staff.pending { opacity:0.5; }
#content .company-profile.staff .staff:hover { opacity:1; }
#content .company-profile.staff .staff .left { width:60px; }
#content .company-profile.staff .staff .right { width:540px; }
#content .company-profile.staff .staff .avatar {
    display:block;
    width:60px;
    height:60px;
}
    #content .company-profile.staff .staff .avatar img {
        display:block;
        width:60px;
        height:60px;
        margin:auto;
    }
#content .company-profile.staff .approval-list { padding-left:10px }
#content .company-profile.staff .job-title { color:#666; }
#content .company-profile.staff .see-all {
    text-align:right;
    position:absolute;
    right:15px;
}

#content .company-profile.edit img.image-edit {
    width:626px;
    height:192px;
}
#content .company-profile.edit li.expertise-item {
    position:relative; 
    list-style-type:none;
}
    #content .company-profile.edit .expertise-item span.remove {
        position:absolute;
        top:2px;
        left:-18px;
        display:block;
        width:17px;
        height:16px;
        cursor:pointer;
        background-image:url(../images/master-icon.png);
        background-repeat:no-repeat;
        background-position:-136px -16px;
    }

/* AJAX Forms */
#content .contact-success,
#content .ajax-success {
    margin:10px;
}
    #content .contact-success p,
    #content .ajax-success p {
        padding:.4em 0;
        line-height:1em;
    }
#content .contact-form,
#content .ajax-form {
    position:relative;
    background:#B6B9BA;
    margin:0 10px;
    padding:10px;
    padding-left:20px;
    z-index:10;
}
    #content .ajax-form p {
        padding:.5em 0;
    }
#content .contact-form .box-title,
#content .ajax-form .box-title { 
    padding-top:0;
    font-weight:bold;
    position:relative;
}
    #content .contact-form .box-title span.close,
    #content .ajax-form .box-title span.close {
        position:absolute;
        left:-18px;
        width:17px;
        height:16px;
        cursor:pointer;
        background-image:url(../images/master-icon.png);
        background-repeat:no-repeat;
        background-position:-136px -16px;
    }

#content .ajax-form label {
    display:block;
    font-weight:bold;
    padding-bottom:0.2em;
}
#content .ajax-form input[type="text"] {
    width:98%;
    padding:3px 1%;
    border:none;
    background:#F2F2F3;
}

#content .contact-form textarea,
#content .ajax-form textarea {
    width:98%;
    padding:3px 1%;
    height:50px;
    border:none;
    resize:none;
    background:#F2F2F3;
}
#content .contact-form button,
#content .ajax-form button {
    display:block;
    margin:10px 0 0 auto;
}
#content .ajax-form select {
    display:block;
    padding:5px;
    width:120px;
    cursor:pointer;
    background:#3d8f3d;
    border:none;
    color:#fff;
}
#content .ajax-form option {
    padding:0 5px;
    color:#000;
    background:#fff;
}
#content .ajax-form span.helptext {
    display:block;
    color:#2E7FA1;
    font-style:italic;
    text-shadow:0 1px 0 #999;
}


/**
 * Edit mode (All pages)
 */
#content .edit .edit-line {
    margin-bottom:10px;
}
#content .edit .edit-line:after {
    clear:both;
    content: "";
    display:table;
}
#content .edit .publish-line {
    position:relative;
    top:-25px;
    margin-bottom:-25px;
    float:right;
}
#content .edit img.image-edit,
#content .edit img.logo-edit,
#content .edit img.square_logo-edit,
#content .edit img.thumbnail-edit { 
    display:block;
    margin:5px;
}
#content .edit a.button {
    float:right;
    margin-right:5px;
}
#content .edit input.button {
    float:right;
}
#content .edit h2, .edit h3 {
    color:#393939;
}
#content .edit .required {
    color:#e33c2f;
    font-size:15px;
    font-weight:bold;
    padding:2px;
}
#content .edit input[type="text"],
#content .edit input[type="password"] {
    width:98%;
    padding:3px 1%;
}
#content .edit textarea {
    width:98%;
    padding:3px 1%;
    resize:none;
}
#content .edit .description {
    padding:0 0 .5em;
    font-style:italic;
    color:#666;
}
#content .edit div.description {
    margin-top:0;
}
#content .edit span.description { 
    display:block;
    margin-top:5px;
    font-size:0.9em;
}
#content ul.errorlist {
    position:relative;
    top:5px;
    padding:0;
    margin:0;
    list-style-type:none;
}

/** Edit mode overrides **/
#content .content.password.edit {
    padding-bottom:60px;
}
#content .password {
    position:relative;
    margin-top:10px;
    padding:20px;
    background:#fff;
}
#content .company-profile.edit h3 { color:#393939; }
#content .account.edit img.thumbnail-edit {
    width:60px;
    height:60px;
}
#content .account.edit span.primary {
    font-style:italic;
    color:#666;
}
