<h3>Why sign up to Nirit?</h3>
<p><strong>Nirit</strong> is a <strong>Business-to-Business Network</strong>.
It aims to connect local businesses to each other, primarily based on location.
It allows businesses to find and communicate with suppliers and customers,
who might be very close, potentially in the same building, but otherwise might never find each other.</p>

<h3>How does it work?</h3>
<p><strong>Staff Members</strong> are authenticated by their work email addresses,
and anytime a coworker (someone from the same email domain, like @beatscope.co.uk) joins Nirit,
they automatically become a member of their associated Company,
and can instantly browse the <strong>Building Directory</strong>, and use the <strong>Notice Board</strong>.</p>
<p><strong>Business Owners</strong> with a valid <strong>Authorization Code</strong> can create a Business Profile for their Company
by registering it with Nirit.</p>
