{% load static %}<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>{% block title %}Nirit{% endblock %}</title>
    <link rel="icon" href="{{ STATIC_URL }}/images/favicon.ico" type="image/x-icon">
    <link href="{% static "css/nirit.min.css" %}" type="text/css" rel="stylesheet" media="all" />
    {% block extrastyle %}{% endblock %}
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/nirit.min.js" %}"></script>
    <script type="text/javascript">
        NIRIT.STATIC_URL = '{{ STATIC_URL }}';
        NIRIT.MEDIA_URL = '{{ MEDIA_URL }}';
    </script>
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
<body {% block bodyclass %}{% endblock %}>
    <div class="wrapper">
         <div id="niritcookies" class="banner">
            <section class="container">
                <div>
                    <h2 class="banner-title">Cookies on Nirit</h2>
                    <p class="banner-content">We use cookies to ensure that we give you the best experience on our website.
                        We also use cookies to ensure we show you advertising that is relevant to you.
                        If you continue without changing your settings, we'll assume that you are happy to receive all cookies on Nirit.</p>
                    <ul class="banner-options">
                        <li id="cookies-continue"><button type="button" class="button" id="cookies-continue-button">Continue</button></li>
                        <li id="cookies-more"><a href="/cookies">Find out more</a></li>
                    </ul>
                </div>
            </section>
        </div>
        <header>
            <div class="container">
                <div id="logo"><a href="/"><img src="{{ STATIC_URL}}/images/nirit-site-logo.png" witdh="69" height="35" alt="Nirit" /></a></div>
                <div id="user-corner">
                    {% if user.is_authenticated %}
                    <h3><a href="/board/{{ user.get_profile.space.link }}">{{ user.get_profile.space.name }}</a></h3>
                    {% endif %}
                    <div class="today">{% now "jS F Y" %}</div>
                    {% if user.is_authenticated %}
                    <div class="me">
                        Logged in as <a href="/member/account">{{ user.get_profile.name }}</a>
                        <span><a href="/logout">Logout</a></span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="container">
            <nav id="top-links">
                {% block links %}
                    <ul>
                        {% if menu %}
                            {% for link in menu %}
                                <li><a href="{{ link.href }}" class="{{ link.name }} {{ link.class }}">{{ link.link }}<span></span></a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                {% endblock %}
            </nav>
        </div>

        {% block sublinks %}{% endblock %}

        <section>
            <div class="container">
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </section>
        {% block extracontent %}{% endblock %}

    </div>

    {% block footer %}
    <footer>
        <div id="footer">
            <ul class="container">
                <li><a href="/what-is-nirit">What's Nirit</a></li>
                <li><a href="/member/sign-up">Sign-up</a></li>
                <li><a href="https://nirit.uservoice.com/" target="_blank">Feedback &amp; Support</a></li>
                <li class="inline"><a href="/terms-of-use">Terms &amp; conditions</a></li>
                <li class="inline"><a href="/privacy-policy">Privacy policy</a></li>
                <li class="inline"><a href="/cookies">Cookies</a></li>
                <li class="twitter"><em>Follow us on</em> <a href="https://twitter.com/niritlocal" target="_blank" title="Twitter"> </a></li>
                <li class="last"><em>Powered by Beatscope Engineering</em>, &copy; 2008-{% now "Y" %} <a href="http://www.beatscope.co.uk/" target="_blank">Beatscope Limited</a></li>
            </ul>
        </div>
    </footer>
    {% endblock %}

    {% include "widgets/uservoice.html" %}
    {% include "widgets/ga.html" %}
    {% block extrajs %}{% endblock %}

</body>
</html>
