{% extends "nirit/base.html" %}
{% load static %}

{% block title %}Nirit | {{ space.name }} Notice Board{% endblock %}

{% block extrahead %}<script type="text/javascript" src="{% static "js/jquery.color-2.1.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/nirit.board-1.2.0.min.js" %}"></script>{% endblock %}

{% block content %}
<div class="content board">

    <div id="main">
        <h1>
            <span>Notice Board</span>
            <ul>
                <li class="first">
                    <a id="latest_count"
                        {% if not filter %} class="active" {% endif %}
                       href="/board/{{ space.link }}">Latest <span class="invisible"></span></a>
                </li>
                <li>
                    <a {% if filter and filter == 'starred' %}class="active" {% endif %}
                       href="/board/{{ space.link }}?filter=starred">Starred</a>
                </li>
                <li{% if not user.get_profile.company %} class="last"{% endif %}>
                    <a {% if filter and filter == 'network' %}class="active" {% endif %}
                       href="/board/{{ space.link }}?filter=network">Network</a>
                </li>
                {% if user.get_profile.company %}
                <li class="last">
                    <a {% if filter and filter == 'company' %}class="active" {% endif %}
                       href="/board/{{ space.link }}?filter=company">Company</a>
                </li>
                {% endif %}
                <li class="right">
                    <a id="new_card" class="button create new-card" href="">Post New Notice <span></span></a>
                </li>
            </ul>
        </h1>
        <div id="cards">
            <div class="card-add hidden">
                <p class="box-title">Post New Notice <span class="close"></span></p>
                <input id="add_card_subject" class="subject" type="text" value="" placeholder="Subject" />
                <textarea id="add_card_body" class="add elastic" rows="2" cols="70"></textarea>
                {% if 'Owner' in user.get_profile.roles or 'Rep' in user.get_profile.roles %}
                <div class="add-as-org">
                    <label>
                        <input type="checkbox" id="add_is_official" class="add-is-official"
                           name="{{ user.get_profile.company.name }}"
                           value="on" />
                        on behalf of <strong>{{ user.get_profile.company.name }}</strong>
                    </label>
                </div>
                {% endif %}
                {% if types_escaped %}
                <div class="add-as-type"><select id="add_is_type">
                {% for type in types_escaped %}
                    <option value="{{ type.value }}"{% if type.value == 1 %} selected="selected"{% endif %}>{{ type.label }}</option>
                {% endfor %}
                </select></div>
                {% endif %}
                <button id="add_card" class="button add">Post</button>
            </div>
            <div class="cards">
                <div id="stream"></div>
                <a id="plus" class="button plus" href=""><span>More</span></a>
            </div>
        </div>
    </div>

    <div id="sidebar">
        <div class="box padded">
            <ul>
                <li><span class="strong">{{ stats.organizations }}</span> Organization{{ stats.organizations|pluralize }}</li>
                <li>
                    <span class="strong">{{ stats.notices }}</span> Active Notice{{ stats.notices|pluralize }}
                    {% if filter %}<span class="label">Filtering is on</span>{% endif %}
                </li>
            </ul>
        </div>
        <div class="box">
            <div class="ad-slot">
                {% include "adverts/mpu.html" %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        new NIRIT.Board({
            'data': {{ data|safe }},
            'notices': {{ notices|safe }},
            'spaces': ['{{ space.codename }}'], // Can only post to current space
            'token': '{{ user.get_profile.token }}',
            'account': {
                'username': '{{ user.get_profile.username }}',
                'company': {
                    'name': '{{ user.get_profile.company.name }}',
                    'codename': '{{ user.get_profile.company.codename }}'
                },
                'roles': {{ user.get_profile.roles|safe }},
                'starred': {{ user.get_profile.get_starred|safe }}
            },
            'filter': {
                'type': 'space',
                'value': '{{ space.codename }}'
            }
        });
    });
</script>
{% endblock %}
