{% extends "nirit/base.html" %}

{% block title %}Nirit | Company Profile | {{ organization.name }}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ajaxfileupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/nirit.company.min.js"></script>
<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ui/jquery-ui-1.10.3.custom.min.css" />
{% endblock %}

{% block content %}
<div class="content company-profile filled edit">
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="edit-line box padded">
            <h2>{{ organization.name }} (edit mode)</h2>
            <p class="description">Please contact us to update the name of your company.</p>
            <div class="publish-line">
                <input class="button" type="submit" value="Publish" />
                <a class="button" href="../{{ organization.codename }}">Cancel</a>
            </div>
        </div>

        <div id="main">
            <div class="box padded">
                <div class="fieldWrapper">
                    <h3>{{ form.description.label_tag }}</h3>
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>
            </div>
            <div class="box padded">
                <div class="fieldWrapper">
                    <h3>{{ form.logo.label_tag }}</h3>
                    <p class="description">Your logo will will be scaled to fit 180 by 90 pixels. The logo only appears on your company pages.</p>
                    {{ form.logo }}
                    {{ form.logo.errors }}
                    <span class="description">{{ form.logo.help_text }}</span>
                </div>
            </div>
            <div class="box padded">
                <div class="fieldWrapper">
                    <h3>{{ form.square_logo.label_tag }}</h3>
                    <p class="description">The square logo appear on your notices.</p>
                    {{ form.square_logo }}
                    {{ form.square_logo.errors }}
                    <span class="description">{{ form.square_logo.help_text }}</span>
                </div>
            </div>
            <div class="box padded">
                <div class="fieldWrapper">
                    <h3>{{ form.expertise.label_tag }}</h3>
                    <div id="expertise_widget">
                        <ul id="expertise_list"></ul>
                        <div class="description">Add more areas of expertise</div>
                        <input id="expertise" type="text" />
                    </div>
                    {{ form.expertise }}
                    {{ form.expertise.errors }}
                </div>
            </div>
        </div>

        <div id="sidebar">
            <div class="box padded">
                <div class="fieldWrapper">
                    <h3><span class="required">*</span>{{ form.department.label_tag }}</h3>
                    <p class="description">{{ form.department.help_text }}</p>
                    {{ form.department }}
                    {{ form.department.errors }}
                </div>
                <div class="fieldWrapper">
                    <h3><span class="required">*</span>{{ form.size.label_tag }}</h3>
                    {{ form.size }}
                    {{ form.size.errors }}
                </div>
                <div class="fieldWrapper">
                    <h3>{{ form.founded.label_tag }}</h3>
                    {{ form.founded }}
                    {{ form.founded.errors }}
                </div>
                {% if space.use_floor %} 
                <div class="fieldWrapper">
                    <h3>{{ form.floor.label_tag }}</h3>
                    {{ form.floor }}
                    {{ form.floor.errors }}
                </div>
                {% endif %}
                {% if space.use_building %}
                <div class="fieldWrapper">
                    <h3>{{ form.building.label_tag }}</h3>
                    {{ form.building }}
                    {{ form.building.errors }}
                </div>
                {% endif %}
            </div>
            <div class="box padded">
                <div class="fieldWrapper">
                    <h3>{{ form.website.label_tag }}</h3>
                    <p class="description">{{ form.website.help_text }}</p>
                    {{ form.website }}
                    {{ form.website.errors }}
                </div>
                <div class="fieldWrapper">
                    <h3>{{ form.facebook.label_tag }}</h3>
                    {{ form.facebook }}
                    {{ form.facebook.errors }}
                </div>
                <div class="fieldWrapper">
                    <h3>{{ form.twitter.label_tag }}</h3>
                    {{ form.twitter }}
                    {{ form.twitter.errors }}
                </div>
                <div class="fieldWrapper">
                    <h3>{{ form.linkedin.label_tag }}</h3>
                    {{ form.linkedin }}
                    {{ form.linkedin.errors }}
                </div>
            </div>
            <div class="box padded">
                <div class="fieldWrapper">
                    <h3>{{ form.directions.label_tag }}</h3>
                    <p class="description">{{ form.directions.help_text }}</p>
                    {{ form.directions }}
                    {{ form.directions.errors }}
                </div>
            </div>
        </div>

        <div class="hidden">
            {{ form.errors }}
            {{ form.name }}
            {{ form.codename }}
        </div>

    </form>
</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        var csrf_token = '{{ csrf_token }}';
        var token = '{{ user.get_profile.token }}';
        new NIRIT.Company(csrf_token, token);
    });
</script>
{% endblock %}
