{% extends "nirit/base.html" %}

{% block title %}Nirit | Members of Staff | {{ organization.name }}{% endblock %}

{% block extrahead %}
{% if organization.image %}
<style type="text/css">
    .company-profile .heading { 
        background-image: url({{ MEDIA_URL }}{{ organization.image }});
        background-position: center center;
        background-repeat: no-repeat;
    }
</style>
{% endif %}
{% endblock %}

{% block content %}
<div class="content company-profile staff">

    <div id="main">
        <div class="heading">
            <div class="company-card">
                <h1>
                    {% if organization.get_logo %}
                        <div class="company-logo">
                            <img src="{{ organization.get_logo }}" alt="{{ organization.name }}" />
                        </div>
                    {% else %}
                        {{ organization.name }}
                    {% endif %}
                </h1>
                <ul class="company-info">
                    <li>Joined {{ organization.created|date:"jS" }} of {{ organization.created|date:"F, Y" }}</li>
                    <li>{{ organization.floor_tag }} Floor, {{ account.active_building.name }}</li>
                </ul>
                <a class="networked-switch{% if organization in account.networked %} active{% endif %}" href="" title="Add {{ organization.name }} to Your Network">
                    <img src="{{ STATIC_URL }}/images/z.gif" alt="Add {{ organization.name }} to Your Network" width="30" height="30" />
                </a>
            </div>
        </div>
        <div class="padded">
            <h3>Members of Staff</h3>
        </div>
        <div>
            {% for member in staff %}
                <div class="staff-list">
                    <div class="staff">
                        <div class="left">
                            <a class="avatar" href="/member/{{ member.username }}">
                                <img src="{{ member.profile.get_avatar }}"
                                     width="60" height="60"
                                     alt="{% if member.get_full_name %}{{ member.get_full_name }}{% else %}{{ member }}{% endif %}" />
                            </a>
                        </div>
                        <div class="right">
                            <a class="link" href="/member/{{ member.username }}">
                                {% if member.get_full_name %}{{ member.get_full_name }}{% else %}{{ member }}{% endif %}
                            </a>
                            {% if member.profile.job_title %}
                                <div class="job-title">{{ member.profile.job_title }}</div>
                            {% endif %}
                            {% if member.profile.bio %}
                                <p class="bio">{{ member.profile.bio }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="sidebar">
        <div class="box padded">
            <ul class="stats">
                <li>
                    <span class="strong">{{ stats.members|length }}</span> Member{{ stats.members|pluralize }} of Staff
                </li>
                <li>
                    <span class="strong">{{ stats.notices.count }}</span> Active Notice{{ stats.notices.results|pluralize }}
                    <span class="see-all"><a href="../{{ organization.codename }}/board">See All</a></span>
                </li>
                <li>
                    <span class="strong">{{ stats.expertise|length }}</span> Area{{ stats.expertise|pluralize }} of Expertise
                    <span class="see-all"><a href="../{{ organization.codename }}">See All</a></span>
                </li>
            </ul>
        </div>
        <div class="box padded">
            <p class="is-network">
                <span class="is-network{% if organization in account.networked %} active{% endif %}">
                    <img src="{{ STATIC_URL }}/images/z.gif" alt="" width="30" height="30" />
                </span>
                <span rel="choice">{% if organization in account.networked %}
                    <span class="strong">{{ organization.name }}</span> is in Your Network{% else %}
                    <span class="strong">{{ organization.name }}</span> is not yet in Your Network{% endif %}</span>
            </p>
        </div>
        <div class="box">
            <div class="ad-slot">
                <p>300x250 MPU</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    var choices = {
        'on': '<span class="strong">{{ organization.name }}</span> is in Your Network',
        'off': '<span class="strong">{{ organization.name }}</span> is not yet in Your Network'
    };
    $(document).ready(function () {
        // Add/remove to/from network
        $('.networked-switch').click(function () {
            var self = $(this);
            NIRIT.utils.set_member_preference('network', '{{ organization.codename }}', function (data) {
                if (self.hasClass('active')) { 
                    self.removeClass('active');
                    $('span.is-network').removeClass('active');
                    $('span[rel="choice"]').html(choices['off']);
                } else { 
                    self.addClass('active');
                    $('span.is-network').addClass('active');
                    $('span[rel="choice"]').html(choices['on']);
                }
            });
            return false;
        });
    });
</script>
{% endblock %}
