{% extends "nirit/base.html" %}
{% load static %}

{% block title %}Nirit | {{ company.organization.name }}'s Board{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1&mkt=en-GB"></script>
<script type="text/javascript" src="{% static "js/jquery.color-2.1.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/nirit.board-1.2.0.min.js" %}"></script>
{% endblock %}

{% block content %}
<div class="content company-profile board">

    <div id="main">

        <div class="contact-form hidden">
            <p class="box-title">Contact {{ company.organization.name }} <span class="close"></span></p>
            <textarea id="contact_form_subject" class="elastic no-limit" rows="2" cols="70"></textarea>
            <button id="contact_form_submit" class="button">Submit</button>
        </div>
        <div class="contact-success label big hidden">
            Your message has been sent to {{ company.organization.name }}.
        </div>

        <h1>
            <span>
                <a href="/company/{{ company.organization.link }}">{{ company.organization.name }}</a>
            </span>
            <ul>
                <li class="first">
                    <span class="active">Notice Board</span>
                </li>
                <li class="last">
                    <a href="/company/{{ company.organization.link }}/staff">Members of Staff</a>
                </li>
                {% if user.get_profile.company != company.organization %}
                    <li class="right">
                        <a id="contact_button" class="button create" href="">Contact <span></span></a>
                    </li>
                {% endif %}
            </ul>
        </h1>

        <div class="heading">
            <div id="company-map"></div>
            <div class="company-card">
                <h2>
                    {% if company.organization.get_logo %}
                        <div class="company-logo">
                            <img src="{{ company.organization.get_logo }}" alt="{{ company.organization.name }}" />
                        </div>
                    {% else %}
                        {{ company.organization.name }}
                    {% endif %}
                </h2>
                <ul class="company-info">
                    <li>Joined {{ company.organization.created|date:"jS" }} of {{ company.organization.created|date:"F, Y" }}</li>
                    {% if space.use_floor and company.floor %}
                        {% if space.use_building and company.building %}
                        <li>{{ company.floor_tag }} Floor, {{ company.building }}, {{ space.name }}</li>
                        {% else %}
                        <li>{{ company.building }}, {{ space.name }}</li>
                        {% endif %}
                    {% elif space.use_building and company.building %}
                    <li>{{ company.building }}, {{ space.name }}</li>
                    {% else %}
                    <li>{{ space.name }}</li>
                    {% endif %}
                </ul>
                <a href=""
                    class="networked-switch{% if company.organization in user.get_profile.networked.all %} active{% endif %}"
                    title="{% if company.organization in user.get_profile.networked.all %}Remove {{ company.organization.name }} from Your Network{% else %}Add {{ company.organization.name }} to Your Network{% endif %}">
                    <img src="{{ STATIC_URL }}/images/z.gif" alt="" width="30" height="30" />
                </a>
            </div>
        </div>
        <div class="padded">
            <h3>Notice Board</h3>
        </div>
        <div id="cards">
            <div id="stream"></div>
            <a id="plus" class="button plus" href=""><span>More</span></a>
        </div>
    </div>

    <div id="sidebar">
        <div class="box padded">
            <ul class="stats">
                <li>
                    <span class="strong">{{ stats.notices.count }}</span> Active Notice{{ stats.notices.results|pluralize }}
                </li>
                <li>
                    <span class="strong">{{ stats.members|length }}</span> Member{{ stats.members|pluralize }} of Staff
                    <span class="see-all"><a href="../{{ company.organization.codename }}/staff">See All</a></span>
                </li>
                <li>
                    <span class="strong">{{ stats.expertise|length }}</span> Area{{ stats.expertise|pluralize }} of Expertise
                    <span class="see-all"><a href="../{{ company.organization.codename }}">See All</a></span>
                </li>
            </ul>
        </div>
        <div class="box padded">
            <p class="is-network">
                <span class="is-network{% if company.organization in user.get_profile.networked.all %} active{% endif %}">
                    <img src="{{ STATIC_URL }}/images/z.gif" alt="" width="30" height="30" />
                </span>
                <span rel="choice">{% if company.organization in user.get_profile.networked.all %}
                    <span class="strong">{{ company.organization.name }}</span> is in Your Network{% else %}
                    <span class="strong">{{ company.organization.name }}</span> is not yet in Your Network{% endif %}</span>
            </p>
        </div>
        <div class="box">
            <div class="ad-slot">
                {% include "adverts/mpu.html" %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    var choices = {
        'on': '<span class="strong">{{ company.organization.name }}</span> is in Your Network',
        'off': '<span class="strong">{{ company.organization.name }}</span> is not yet in Your Network'
    };

    $(document).ready(function () {

        NIRIT.SupplierMap = function () {
            this.key = '{{ BING_MAPS_KEY }}';
            this.map = null;
        };

        NIRIT.SupplierMap.prototype.getMap = function () {
            var self = this;

            // Initialize the map
            var code = '{{ space.geocode }}'.split(',');
            var loc = new Microsoft.Maps.Location(parseFloat(code[0]), parseFloat(code[1]));
            var center = new Microsoft.Maps.Location(parseFloat(code[0]), parseFloat(code[1])-0.003);
            this.map = new Microsoft.Maps.Map(document.getElementById("company-map"), {
                credentials: this.key,
                mapTypeId: Microsoft.Maps.MapTypeId.road,
                center: center,
                zoom: 16,
                disableBirdseye: true,
                disableKeyboardInput: true,
                disableMouseInput: true,
                disablePanning: true,
                disableTouchInput: true,
                disableUserInput: true,
                disableZooming: true,
                enableClickableLogo: false,
                enableSearchLogo: false,
                showDashboard: false,
                showMapTypeSelector: false,
                showScalebar: false
            });

            // Add pushpin
            this.map.entities.push(new Microsoft.Maps.Pushpin(loc, {
                icon: '{{ STATIC_URL }}images/map-marker.png',
                width: 54,
                height: 34
            }));
        };

        new NIRIT.SupplierMap().getMap();

        // Build board
        new NIRIT.Board({
            'data': {{ data|safe }},
            'notices': {{ notices|safe }},
            'spaces': ['{{ company.space.codename }}'], // Can only post to active space
            'token': '{{ user.get_profile.token }}',
            'account': {
                'username': '{{ user.get_profile.codename }}',
                'company': {
                    'name': '{{ user.get_profile.company.name }}',
                    'codename': '{{ user.get_profile.company.codename }}'
                },
                'roles': {{ user.get_profile.roles|safe }},
                'starred': {{ user.get_profile.get_starred|safe }}
            },
            'filter': {
                'type': 'company',
                'value': '{{ company.organization.codename }}'
            }
        });

        // Add/remove to/from network
        $('.networked-switch').click(function () {
            var self = $(this);
            NIRIT.utils.set_member_preference('network', '{{ company.organization.codename }}', function (data) {
                if (self.hasClass('active')) {
                    self.removeClass('active');
                    self.attr('title', 'Add {{ company.organization.name }} to Your Network');
                    $('span.is-network').removeClass('active');
                    $('span[rel="choice"]').html(choices['off']);
                } else {
                    self.addClass('active');
                    self.attr('title', 'Remove {{ company.organization.name }} from Your Network');
                    $('span.is-network').addClass('active');
                    $('span[rel="choice"]').html(choices['on']);
                }
            });
            return false;
        });

        // Contact Form
        $('.elastic').elastic();
        $('#contact_button').bind('click', function () {
            $('#contact_form_subject').val(''); // clear content
            if ($('.contact-form').is(':visible')) {
                $('.contact-form').slideUp(250);
            } else {
                $('.contact-form').slideDown(250, function () {
                    $('#contact_form_subject').focus();
                });
            }
            return false;
        });
        $('.contact-form').find('span.close').bind('click', function () {
            $('.contact-form').slideUp(250);
        });
        $('#contact_form_submit').bind('click', function () {
            var subject = $('#contact_form_subject').val();
            if (subject.length > 0) {
                $.post('/contact/company/{{ company.organization.codename }}', {
                        'subject': trim(subject)
                }, function (response) {
                    $('.contact-form').slideUp(250);
                    $('.contact-success').slideDown(250);
                });
            }
        });

    });
</script>
{% endblock %}
