{% extends "nirit/base.html" %}

{% block title %}Nirit | Company Profile | {{ company.organization.name }}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1&mkt=en-GB"></script>
{% endblock %}

{% block content %}
<div class="content company-profile">

    <div id="main">

        <div class="contact-form hidden">
            <p class="box-title">Contact {{ company.organization.name }} <span class="close"></span></p>
            <textarea id="contact_form_subject" class="elastic" rows="2" cols="70"></textarea>
            <button id="contact_form_submit" class="button">Submit</button>
        </div>
        <div class="contact-success label big hidden">
            Your message has been sent to {{ company.organization.name }}.
        </div>

        <h1>
            <span>{{ company.organization.name }}</span>
            <ul>
                <li class="first">
                    <a href="/company/{{ company.organization.link }}/board">Notice Board</a>
                </li>
                <li class="last">
                    <a href="/company/{{ company.organization.link }}/staff">Members of Staff</a>
                </li>
                {% if user.get_profile.company != company.organization %}
                    <li class="right">
                        <a id="contact_button" class="button create" href="">Contact <span></span></a>
                    </li>
                {% endif %}
                {% if is_user_editor %}
                    <li class="right">
                        <a class="button" href="/company/{{ company.organization.link }}/edit">Edit</a>
                    </li>
                {% endif %}
            </ul>
        </h1>

        <div class="heading">
            <div id="company-map"></div>
            <div class="company-card">
                <h2>
                    {% if company.organization.get_logo %}
                        <div class="company-logo">
                            <img src="{{ company.organization.get_logo }}" alt="{{ company.organization.name }}" />
                        </div>
                    {% else %}
                        {{ company.organization.name }}
                    {% endif %}
                </h2>
                <ul class="company-info">
                    <li>Joined {{ company.organization.created|date:"jS" }} of {{ company.organization.created|date:"F, Y" }}</li>
                    {% if space.use_floor and company.floor %}
                        {% if space.use_building and company.building %}
                        <li>{{ company.floor_tag }} Floor, {{ company.building }}, {{ space.name }}</li>
                        {% else %}
                        <li>{{ company.building }}, {{ space.name }}</li>
                        {% endif %}
                    {% elif space.use_building and company.building %}
                        <li>{{ company.building }}, {{ space.name }}</li>
                    {% else %}
                        <li>{{ space.name }}</li>
                    {% endif %}
                </ul>
                <a href=""
                    class="networked-switch{% if company.organization in user.get_profile.networked.all %} active{% endif %}" 
                    title="{% if company.organization in user.get_profile.networked.all %}Remove company.{{ organization.name }} from Your Network{% else %}Add {{ company.organization.name }} to Your Network{% endif %}">
                    <img src="{{ STATIC_URL }}/images/z.gif" alt="" width="30" height="30" />
                </a>
            </div>
        </div>
        <div class="padded">          
        </div>
        <div class="box filled padded">
            <div class="company-about">

                {% if company.organization.description %}
                <h3>About {{ company.organization.name }}</h3>
                <div class="textfield">
                    {{ company.organization.description|linebreaks }}
                </div>
                {% endif %}

                {% if company.directions %}
                <h3>How to find {{ company.organization.name }}</h3>
                <div class="textfield">
                    {{ company.directions|linebreaks }}
                </div>
                {% endif %}

                {% if company.organization.get_department_display  %} 
                <h3>Department</h3>
                <div class="charfield">
                    {{ company.organization.get_department_display }}
                </div>
                {% endif %}
                
                {% if company.organization.expertise.all  %}
                <h3>Areas of Expertise</h3>
                <div class="charfield">
                    {% if company.organization.expertise.all %}
                        {{ company.organization.expertise.all|join:", " }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
                {% endif %}

                <div class="inline">
                    {% if company.organization.get_size_display %}
                    <div class="inline-block">
                        <h3>Company Size</h3>
                        <div class="charfield">
                            {% if company.organization.size == 'A' or company.organization.size == 'B' %}
                                1-10 employees
                            {% else %}
                                {{ company.organization.get_size_display }} employees
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% if company.organization.founded %}
                    <div class="inline-block">
                        <h3>Year Founded</h3>
                        <div class="charfield">
                            {{ company.organization.founded }}
                        </div>
                    </div>
                    {% endif %}
                </div>

                <h3>Nirit Status</h3>
                <div class="charfield">
                    {{ company.get_status_display }}
                </div>

                {% if company.organization.website or company.organization.facebook or company.organization.twitter or company.organization.linkedin %}
                <ul class="charfield company-links">
                    {% if company.organization.facebook %}<li class="facebook">
                        <a href="{{ company.organization.facebook }}" title="Like us on Facebook" target="_blank">
                            <img src="{{ STATIC_URL}}images/z.gif" width="32" height="32" alt="Facebook" />
                        </a>
                    </li>{% endif %}
                    {% if company.organization.twitter %}<li class="twitter">
                        <a href="{{ company.organization.twitter }}" title="Follow us on Twitter" target="_blank">
                            <img src="{{ STATIC_URL}}images/z.gif" width="32" height="32" alt="Twitter" />
                        </a>
                    </li>{% endif %}
                    {% if company.organization.linkedin %}<li class="linkedin">
                        <a href="{{ company.organization.linkedin }}" title="Follow us on LinkedIn" target="_blank">
                            <img src="{{ STATIC_URL}}images/z.gif" width="32" height="32" alt="LinkedIn" />
                        </a>
                    </li>{% endif %}
                    {% if company.organization.website %}<li class="website">
                        <a href="{{ company.organization.website }}" target="_blank">
                            <img src="{{ STATIC_URL}}images/z.gif" width="32" height="32" alt="" />
                            <span>{{ company.organization.website }}</span>
                        </a>
                    </li>{% endif %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>

    <div id="sidebar">
        {% if notices|length > 0 %}
        <div class="box padded">
            <h2>Latest Active Notices</h2>
            <ul class="staff">{% for notice in notices %}
                <li>
                    <div class="notice">
                        <img
                        {% if notice.sender.company.square_logo %}
                             src="{{ notice.sender.company.square_logo }}"
                        {% else %}
                             src="{{ notice.sender.avatar }}"
                        {% endif %}
                             width="16" height="auto"
                             class="avatar"
                             alt="{{ notice.sender.name }}" />
                        {{ notice.subject|safe }}
                    </div>
                </li>
            {% endfor %}</ul>
            <div class="see-all"><a href="./{{ company.organization.codename }}/board">See All</a></div>
        </div>
        {% endif %}
        <div class="box padded">
            <h2>Members of Staff</h2>
            <ul class="staff">{% for member in staff %}
                <li>
                    <a href="/member/{{ member.get_profile.codename }}">
                        <img src="{{ member.get_profile.small_avatar }}"
                             width="16" height="auto" 
                             class="avatar"
                             alt="{{ member.get_profile.name }}" />
                        {{ member.get_profile.name }}
                    </a>
                </li>
            {% endfor %}</ul>
            <div class="see-all"><a href="./{{ company.organization.codename }}/staff">See All</a></div>

            {% comment %} Only company members can invite other colleagues {% endcomment %}
            {% if user.get_profile.company == company.organization %}
                <a class="button invite" data-entity="invite" href="#">Invite your colleagues <span></span></a>
                <div class="invite-box hidden" data-entity="invite">
                    <p class="help"><strong>Invite colleagues using their company email addresses,
                        i.e. someone from the same email domain, @{{ domain }}</strong></p>
                    <p class="help">You can either add one email address per line, or use commas to separate them.</p>
                    <textarea class="text elastic" rows="2" cols="30"></textarea>
                    <button class="button">Submit</button>
                </div>
                <div class="invite-box hidden" data-entity="invite-success">
                    <p class="help"><strong>The invite has been sent.</strong></p>
                </div>
            {% endif %}
        </div>
        <div class="box">
            <div class="ad-slot">
                {% include "adverts/mpu.html" %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {

        NIRIT.SupplierMap = function () {
            this.key = '{{ BING_MAPS_KEY }}';
            this.map = null;
        };

        NIRIT.SupplierMap.prototype.getMap = function () {
            var self = this;

            // Initialize the map
            var code = '{{ space.geocode }}'.split(',');
            var loc = new Microsoft.Maps.Location(parseFloat(code[0]), parseFloat(code[1]));
            var center = new Microsoft.Maps.Location(parseFloat(code[0]), parseFloat(code[1])-0.003);
            this.map = new Microsoft.Maps.Map(document.getElementById("company-map"), {
                credentials: this.key,
                mapTypeId: Microsoft.Maps.MapTypeId.road,
                center: center,
                zoom: 16,
                disableBirdseye: true,
                disableKeyboardInput: true,
                disableMouseInput: true,
                disablePanning: true,
                disableTouchInput: true,
                disableUserInput: true,
                disableZooming: true,
                enableClickableLogo: false,
                enableSearchLogo: false,
                showDashboard: false,
                showMapTypeSelector: false,
                showScalebar: false
            });

            // Add pushpin
            this.map.entities.push(new Microsoft.Maps.Pushpin(loc, {
                icon: '{{ STATIC_URL }}images/map-marker.png',
                width: 54,
                height: 34
            }));
        };

        new NIRIT.SupplierMap().getMap();


        $('.networked-switch').click(function () {
            var self = $(this);
            NIRIT.utils.set_member_preference('network', '{{ company.organization.codename }}', function (data) {
                if (self.hasClass('active')) { 
                    self.attr('title', 'Add {{ company.organization.name }} to Your Network');
                    self.removeClass('active');
                } else {
                    self.attr('title', 'Remove {{ company.organization.name }} from Your Network');
                    self.addClass('active');
                }
            });
            return false;
        });

        $('.elastic').elastic();

        // Contact Form
        $('#contact_button').bind('click', function () {
            $('#contact_form_subject').val(''); // clear content
            if ($('.contact-form').is(':visible')) {
                $('.contact-form').slideUp(250);
            } else {
                $('.contact-form').slideDown(250, function () {
                    $('#contact_form_subject').focus();
                });
            }
            return false;
        });
        $('.contact-form').find('span.close').bind('click', function () {
            $('.contact-form').slideUp(250);
        });
        $('#contact_form_submit').bind('click', function () {
            var subject = $('#contact_form_subject').val();
            if (subject.length > 0) {
                $.post('/contact/company/{{ company.organization.codename }}', {
                        'subject': trim(subject)
                }, function (response) {
                    $('.contact-form').slideUp(250);
                    $('.contact-success').slideDown(250);
                });
            }
        });

        // Invite Form
        $('a[data-entity="invite"]').bind('click', function () {
            var box = $('div[data-entity="invite"]');
            if (box.is(':visible')) {
                box.slideUp(250);
            } else {
                box.find('.text').val('');
                box.slideDown(250, function () {
                    box.find('.text').focus();
                    if (!box.data('bound')) {
                        box.data('bound', true);
                        box.find('.button').bind('click', function () {
                            var button = $(this);
                            var list = box.find('.text').val();
                            if (list.length > 0 && !box.data('submitting')) {
                                box.data('submitting', true);
                                box.find('.text').attr('disabled', 'disabled');
                                button.addClass('loading');
                                $.post('/invite/members/{{ company.organization.codename }}', {
                                    'list': trim(list)
                                }, function (response) {
                                    box.data('submitting', false);
                                    box.find('.text').attr('disabled', null);
                                    button.removeClass('loading');
                                    box.slideUp(250);
                                    $('div[data-entity="invite-success"]').slideDown(250);
                                });
                            }
                        });
                    }
                });
            }
            return false;
        });

    });
</script>
{% endblock %}
