{% extends "nirit/base.html" %}

{% block title %}Nirit | Members of Staff | {{ company.organization.name }}{% endblock %}

{% block extrahead %}
{% if company.organization.image %}
<style type="text/css">
    #content .company-profile .heading {
        background-image: url({{ MEDIA_URL }}{{ company.organization.image }});
        background-position: center center;
        background-repeat: no-repeat;
    }
</style>
{% else %}
<style type="text/css">
    #content .company-profile .heading {
        background-image: url({{ STATIC_URL }}images/default_company_{{ company.building.codename }}.jpg);
        background-position: center center;
        background-repeat: no-repeat;
    }
</style>
{% endif %}
{% endblock %}

{% block sublinks %}
<ul>
    <li class="first">
        <a href="/company/{{ company.organization.link }}">{{ company.organization.name }}</a>
    </li>
    <li>
        <a href="/company/{{ company.organization.link }}/board">Notice Board</a>
    </li>
    <li class="last">
        <a href="/company/{{ company.organization.link }}/staff" class="active">Members of Staff</a>
    </li>
    {% if user.get_profile.company != company.organization %}
        <li class="right">
            <a id="contact_button" class="new-card" href="">Contact <span></span></a>
        </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="content company-profile staff">

    <div id="main">

        <div class="contact-form hidden">
            <p class="box-title">Contact {{ company.organization.name }} <span class="close"></span></p>
            <textarea id="contact_form_subject" class="elastic" rows="2" cols="70"></textarea>
            <button id="contact_form_submit">Submit</button>
        </div>
        <div class="contact-success label big hidden">
            Your message has been sent to {{ company.organization.name }}.
        </div>

        <div class="heading">
            <div class="company-card">
                <h1>
                    {% if company.organization.get_logo %}
                        <div class="company-logo">
                            <img src="{{ company.organization.get_logo }}" alt="{{ company.organization.name }}" />
                        </div>
                    {% else %}
                        {{ company.organization.name }}
                    {% endif %}
                </h1>
                <ul class="company-info">
                    <li>Joined {{ company.organization.created|date:"jS" }} of {{ company.organization.created|date:"F, Y" }}</li>
                    <li>{{ company.floor_tag }} Floor, {{ company.building.name }}</li>
                </ul>
                <a href=""
                    class="networked-switch{% if company.organization in user.get_profile.networked.all %} active{% endif %}"
                    title="{% if company.organization in user.get_profile.networked.all %}Remove {{ company.organization.name }} from Your Network{% else %}Add {{ company.organization.name }} to Your Network{% endif %}">
                    <img src="{{ STATIC_URL }}/images/z.gif" alt="" width="30" height="30" />
                </a>
            </div>
        </div>
        <div class="padded">
            <h3>Members of Staff</h3>
        </div>
        <div>
            {% for member in staff %}
                <div class="staff-list">
                    <div class="staff">
                        <div class="left">
                            <a class="avatar" href="/member/{{ member.get_profile.codename }}">
                                <img src="{{ member.get_profile.avatar }}"
                                     width="60" height="60"
                                     alt="{{ member.get_profile.name }}" />
                            </a>
                        </div>
                        <div class="right">
                            <a class="link" href="/member/{{ member.get_profile.codename }}">
                                {{ member.get_profile.name }}
                            </a>
                            {% if member.get_profile.job_title %}
                                <div class="job-title">{{ member.get_profile.job_title }}</div>
                            {% endif %}
                            {% if is_owner %}
                                <div class="roles">
                                    {% for role in member.get_profile.roles %}
                                        <div class="role">
                                            <span class="label">{{ role }}</span>
                                            {% if role == 'Rep' %}
                                            <a href="" class="label action revoke" rel="{{ member.get_profile.codename }}">Revoke</a>
                                            {% elif role == 'Staff' %}
                                            <a href="" class="label action assign" rel="{{ member.get_profile.codename }}">Make Rep</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if member.get_profile.bio %}
                                <p class="bio">{{ member.get_profile.bio }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="sidebar">
        <div class="box padded">
            <ul class="stats">
                <li>
                    <span class="strong">{{ stats.members|length }}</span> Member{{ stats.members|pluralize }} of Staff
                </li>
                <li>
                    <span class="strong">{{ stats.notices.count }}</span> Active Notice{{ stats.notices.results|pluralize }}
                    <span class="see-all"><a href="../{{ company.organization.codename }}/board">See All</a></span>
                </li>
                <li>
                    <span class="strong">{{ stats.expertise|length }}</span> Area{{ stats.expertise|pluralize }} of Expertise
                    <span class="see-all"><a href="../{{ company.organization.codename }}">See All</a></span>
                </li>
            </ul>
        </div>
        <div class="box padded">
            <p class="is-network">
                <span class="is-network{% if company.organization in user.get_profile.networked.all %} active{% endif %}">
                    <img src="{{ STATIC_URL }}/images/z.gif" alt="" width="30" height="30" />
                </span>
                <span rel="choice">{% if company.organization in user.get_profile.networked.all %}
                    <span class="strong">{{ company.organization.name }}</span> is in Your Network{% else %}
                    <span class="strong">{{ company.organization.name }}</span> is not yet in Your Network{% endif %}</span>
            </p>
        </div>
        <div class="box">
            <div class="ad-slot">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Global MPU -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-7512692139422972"
     data-ad-slot="6879061841"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    var choices = {
        'on': '<span class="strong">{{ company.organization.name }}</span> is in Your Network',
        'off': '<span class="strong">{{ company.organization.name }}</span> is not yet in Your Network'
    };
    $(document).ready(function () {
        // Add/remove to/from network
        $('.networked-switch').click(function () {
            var self = $(this);
            NIRIT.utils.set_member_preference('network', '{{ company.organization.codename }}', function (data) {
                if (self.hasClass('active')) { 
                    self.removeClass('active');
                    self.attr('title', 'Add {{ company.organization.name }} to Your Network');
                    $('span.is-network').removeClass('active');
                    $('span[rel="choice"]').html(choices['off']);
                } else { 
                    self.addClass('active');
                    self.attr('title', 'Remove {{ company.organization.name }} from Your Network');
                    $('span.is-network').addClass('active');
                    $('span[rel="choice"]').html(choices['on']);
                }
            });
            return false;
        });

        // Assign/Revoke "Rep" Role
        $('.roles').find('.role').each(function () {
            var role = $(this);
            role.find('a.action').bind('click', function () {
                var entity = $(this);
                var url = '/approval/member/' + $(this).attr('rel');
                if (entity.hasClass('assign')) {
                    $.get(url + '/assign', function () {
                        entity.removeClass('assign')
                        entity.addClass('revoke')
                        entity.text('Revoke');
                        role.find('span').text('Rep');
                    });
                } else if (entity.hasClass('revoke')) {
                    $.get(url + '/revoke', function () {
                        entity.removeClass('revoke')
                        entity.addClass('assign')
                        entity.text('Make Rep');
                        role.find('span').text('Staff');
                    });
                }
                return false;
            });
        });

        // Contact Form
        $('.elastic').elastic();
        $('#contact_button').bind('click', function () {
            $('#contact_form_subject').val(''); // clear content
            if ($('.contact-form').is(':visible')) {
                $('.contact-form').slideUp(250);
            } else {
                $('.contact-form').slideDown(250, function () {
                    $('#contact_form_subject').focus();
                });
            }
            return false;
        });
        $('.contact-form').find('span.close').bind('click', function () {
            $('.contact-form').slideUp(250);
        });
        $('#contact_form_submit').bind('click', function () {
            var subject = $('#contact_form_subject').val();
            if (subject.length > 0) {
                $.post('/contact/company/{{ company.organization.codename }}', {
                        'subject': trim(subject)
                }, function (response) {
                    $('.contact-form').slideUp(250);
                    $('.contact-success').slideDown(250);
                });
            }
        });

    });
</script>
{% endblock %}
