{% extends "nirit/base.html" %}
{% load static %}

{% block title %}Nirit | {{ building.name }} Directory{% endblock %}

{% block extrahead %}<script type="text/javascript" src="{% static "js/jquery.color-2.1.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/nirit.directory.js" %}"></script>{% endblock %}

{% block content %}
<div class="content directory">

    <div id="selection">
        <h1>{{ building.name }} <span>Directory</span></h1>
        <div class="selection filled">
            {% if tabs %}<ul>
                {% for tab in tabs %}<li>
                    {% if group and tab.name == group %}
                    {{ tab.label }}
                    {% else %}
                    <a href="{{ tab.href }}">{{ tab.label }}</a>
                    {% endif %}
                </li>{% endfor %}
            </ul>{% endif %}
        </div>
    </div>
    
    <div id="results" class="filled">
        <div id="stream"></div>
        <a href="" id="plus">[+]</a>
    </div>

    <div id="sidebar-narrow" class="filled">
        <div class="ad-slot-wide-skyscraper">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Wide Skyscraper -->
<ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-7512692139422972"
     data-ad-slot="2309261440"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        var building = '{{ building.codename }}';
        new NIRIT.Directory({
            'data': {{ data|safe }},
            'group': '{{ group }}'
        });
    });
</script>
{% endblock %}
