{% extends "nirit/base.html" %}
{% load static %}

{% block title %}Nirit | {{ building.name }} Directory{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static "js/nirit.directory.js" %}"></script>
{% endblock %}

{% block content %}
<div class="content directory">

    <div id="results">
        <h1>
            <span>Directory / <a href="/amenities/{{ building.link }}">Local Amenities</a></span>
            {% if tabs %}<ul>
                {% for tab in tabs %}<li>
                    {% if group and tab.name == group %}
                    <span class="active">{{ tab.label }}</span>
                    {% else %}
                    <a href="{{ tab.href }}">{{ tab.label }}</a>
                    {% endif %}
                </li>{% endfor %}
            </ul>{% endif %}
        </h1>
        <div id="stream"></div>
    </div>

    <div id="sidebar-narrow" class="filled">
        <div class="ad-slot-wide-skyscraper">
            {% include "adverts/wide_skyscraper.html" %}
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        new NIRIT.Directory({
            'building': '{{ building.codename }}',
            'data': {{ data|safe }},
            'group': '{{ group }}'
        });
    });
</script>
{% endblock %}
