{% extends "nirit/base.html" %}

{% block title %}Nirit | {{ building.name }} Directory{% endblock %}

{% block content %}
<div id="directory" class="content">

    <div class="tabs">
        <h1>{{ building.name }} Directory</h1>
        {% if tabs %}<ul>
            {% for tab in tabs %}<li{% if tab.class %} class="{{ tab.class }}"{% endif %}>
                <a href="{{ tab.href }}">{{ tab.name }}</a>
            </li>{% endfor %}
        </ul>{% endif %}
    </div>
    
    <div class="section">
        <div class="head-img"><img src="/static/images/z.gif" width="100%" height="100%" /></div>
        <ul>{% for company in organizations %}            
            <li>
                <a href="/company/{{ company.link }}">{{ company.name }}</a>
                {% if company.floor %}/ Floor <strong>{{ company.floor }}</strong>{% endif %}
                {% if company.department %}/ Department <strong>{{ company.department }}</strong>{% endif %}
            </li>
        {% endfor %}</ul>
    </div>

    <div class="clear"></div>
</div>
{% endblock %}
