{% extends "nirit/base.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ui/jquery-ui-1.10.3.custom.min.css" />
{% endblock %}

{% block title %}Nirit, the local business network.{% endblock %}
{% block bodyclass %}class="home"{% endblock %}

{% if user.is_anonymous %}
{% block sublinks %}
<nav id="sub-links">
    <div class="container">
        <ul>
            <li class="first"><a href="/member/sign-up">Sign-up</a></li>
        </ul>
    </div>
</nav>
{% endblock %}
{% endif %}


{% block content %}
<div class="content index">

    {% if user.is_anonymous %}

        <iframe id="nirit-video" class="hidden" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <div class="sign-up-info">
            <div class="nirit">
                <a href="/">nirit</a>
            </div>
            <h2>The local business network.</h2>
            <div class="actions">
                <a href="/what-is-nirit" class="button learn-more">Learn more</a>
                <a href="/what-is-nirit" class="button video"><span></span>Play video</a>
            </div>
        </div>

        <div class="sign-in-card">
            <div id="login-card">
                {% if form.errors %}
                <div id="form-errors">
                    <p>Your email and password didn't match. Please try again.</p>
                </div>
                {% endif %}
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-field"><label>Email Address</label>{{ form.username }}</div>
                    <div class="form-field"><label>{{ form.password.label_tag }}</label>{{ form.password }}</div>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <ul id="login-links">
                        <li><a href="/member/password/reset/">Forgot password</a></li>
                        <li><a href="/member/sign-up">Sign-up</a></li>
                        <li><input type="submit" class="button" value="Login" /></li>
                    </ul>
                </form>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}

{% block extracontent %}
<div class="home-content content">
    <div class="container">
        <h1>A free community-building platform for co-working and shared spaces.</h1>
        <p>Shared spaces are at their most valuable when they bring about community, creativity and collaboration between their tenants.
        Nirit increases those fortuitous conversations that lead to major breakthroughs and new ideas.</p>
        <p>It fosters a real sense of togetherness and bonding around the space.
        It also integrates your space with your wider, local community - 
        enabling those in the space to quickly find and engage with the cafes, pubs, shops and suppliers on their doorstep.</p>

        <img src="{{ STATIC_URL }}images/home-page-computer.jpg" alt="" width="628" height="487" />

        <ul class="home-items">
            <li class="home-item-secure">Secure, restricted network for individual co-working and shared spaces.</li>
            <li class="home-item-directory">Easily navigable internal directory of tenants.</li>
            <li class="home-item-profile">Internal profiles for tenants of the space, listing information about their work and contact details.</li>
            <li class="home-item-news">Central newsfeed that encourages communication between owners and tenants.</li>
            <li class="home-item-local">Easily navigable directory of local resources such as bars, cafes and other suppliers</li>
        </ul>

        <div class="register">
            <div class="register-box" data-entity="register">
                <p><strong>To find out more, simply enter your email address and we'll get back to you.</strong></p>
                <input type="text" class="text" value="" />
                <button class="button">Send</button>
                <div class="errors"></div>
            </div>
            <div class="register-box hidden" data-entity="register-success">
                <p><strong>Thank you for registering your interest. We'll get back to you very soon.</strong></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div id="landing">
    {{ block.super }}
</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        $('#id_username').focus();
        $('#form-errors').bind('click', function () {
            $(this).hide();
            $('#id_username').focus();
        });
        setTimeout(function () {
            if ($('#form-errors').is(':visible')) {
                $('#form-errors').fadeOut();
                $('#id_username').focus();
            }
        }, 2000);

        $('.actions a.video').click(function () {
            $('#nirit-video').dialog({
                'modal': true,
                'width': 527,
                'height': 334,
                'open': function () {
                    $('#nirit-video').css({
                        'width': 500,
                        'height': 334
                    });
                    $('#nirit-video').attr('src', "//player.vimeo.com/video/81385415?title=0&amp;byline=0&amp;portrait=0&autoplay=true");
                },
                'close': function () {
                    $('#nirit-video').attr('src', null);
                }
            });
            return false;
        });

        // Register interest
        var box = $('div[data-entity="register"]');
        box.find('.button').bind('click', function () {
            var button = $(this);
            var email = box.find('.text').val();
            if (email.length > 0 && !box.data('submitting')) {
                box.data('submitting', true);
                box.find('.text').attr('disabled', 'disabled');
                button.addClass('loading');
                box.find('.errors').empty();
                $.post('/action/register-interest', {
                    'email': trim(email)
                }, function (response) {
                    box.slideUp(250, function () { 
                        box.data('submitting', false);
                        box.find('.text').attr('disabled', null);
                        button.removeClass('loading');
                        $('div[data-entity="register-success"]').slideDown(250);
                    });
                }).fail(function (e) {
                    box.data('submitting', false);
                    box.find('.text').attr('disabled', null);
                    button.removeClass('loading');
                    var r = JSON.parse(e.responseText)
                    box.find('.errors').text(r.reason);
                });
            }
        });

    });
</script>
{% endblock %}
