{% if card %}
<div class="card {{ card.get_type_display|lower }}">
    <div class="subject">
        <span class="type">{{ card.get_type_display }}</span>
        {{ card.subject }}
    </div>
    <div class="age">{{ age }} ago</div>
    <div class="sender">{{ sender }}{% if card.is_official and organization %}, <span>{{ organization }}</span>{% endif %}</div>

    <div class="card-replies hidden" rel="{{ card.id }}">
        <p>All Replies <span class="close">[X]</span></p>
        <div class="card-replies-holder"></div>
        <a href="" class="plus">[+]</a>
    </div>

    <ul>
        {% if card.get_replies|length > 0 %}<li><a href="" class="open-replies" rel="{{ card.id }}">{{ card.get_replies|length }} repl{{ card.get_replies|pluralize:"y,ies" }}</a></li>{% endif %}
        <li><a href="" class="open-reply" rel="{{ card.id }}">reply</a></li>
    </ul>

    <div class="card-reply hidden" rel="{{ card.id }}">
        <p>Leave a reply <span class="close">[X]</span></p>
        <textarea class="reply" rows="2" cols="70"></textarea>
        {% if 'Owner' in account.roles %}
        <div class="reply-as-org">
            {% for org in account.organizations %}
            <input type="checkbox" class="reply-is-official" name="{{ org.name }}" value="{{ org.id }}"><label>on behalf of <strong>{{ org.name }}</strong></label>
            {% endfor %}
        </div>
        {% endif %}
        <button class="reply">Reply</button>
    </div>
    
</div>
{% endif %}
