{% extends "nirit/base.html" %}
{% load static %}

{% block title %}Nirit | {{ supplier.name }}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1&mkt=en-GB"></script>
{% if user.is_authenticated %}
<script type="text/javascript" src="{% static "js/jquery.color-2.1.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/nirit.board-1.2.0.min.js" %}"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="content supplier">

    <div id="main">

        <div class="ajax-form hidden">
            <p class="box-title">Request Supplier/Amenity Amends <span class="close"></span></p>
            {{ form.as_p }}
            <button data-entity="button" class="button" href="/amenities/request-edit">Submit</button>
        </div>
        <div class="ajax-success label big hidden">
            <p>Your request to amend <strong>{{ supplier.name }}</strong> has been sent.</p>
            <p>All requests are reviewed by the Team. Please allow 24h for your request to be processed.</p>
        </div>

        <h1>
            <span>{{ supplier.name }}</span>
            {% if user.get_profile.space %}
                <ul>
                    <li class="first">
                        <a href="/amenities/{{ user.get_profile.space.link }}{% if back %}{{ back }}{% endif %}">Back to Amenities</a>
                    </li>
                    {% if is_user_editor %}
                    <li class="right">
                        <a class="button" id="amenity_request">Amend Amenity</a>
                    </li>
                    {% endif %}
                </ul>
            {% endif %}
        </h1>
        <div><strong>{{ supplier.get_type_display }}</strong></div>
        {% if supplier.image %}
            <div class="heading">
                <img src="{{ supplier.image.url }}" width="646" height="192" alt="{{ supplier.name }}" />
            </div>
        {% endif %}
        <div class="box filled padded">
            <div class="supplier-description">
                {{ supplier.description|linebreaks }}
            </div>
        </div>

        {% if user.is_authenticated %}
        <div id="cards">
            <h3>
                <span>Active Comments</span>
                <ul>
                    <li class="right">
                        <a id="new_card" class="button create new-card" href="">Write Comment <span></span></a>
                    </li>
                </ul>
            </h3>
            <div class="card-add hidden">
                <p class="box-title">New Comment <span class="close"></span></p>
                <input id="add_card_subject" class="subject" type="text" value="" placeholder="Subject" />
                <textarea id="add_card_body" class="add elastic" rows="2" cols="70"></textarea>
                <button id="add_card" class="button add">Post</button>
            </div>
            <div class="cards">
                <div id="stream"></div>
                <a id="plus" class="button plus hidden" href=""><span>More</span></a>
            </div>
        </div>
        {% endif %}

    </div>

    <div id="sidebar">
        <div class="box">
            <div id="map"></div>
        </div>
        <div class="box padded">
            <p><em>{{ supplier.address }}</em></p>
        </div>
        <div class="box">
            <div class="ad-slot">
                {% include "adverts/mpu.html" %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {

        // Request Form
        $('#amenity_request').bind('click', function () {
            if ($('.ajax-form').is(':visible')) {
                $('.ajax-form').slideUp(250);
            } else {
                $('.ajax-form').slideDown(250, function () {
                    $('[data-entity="name"]').focus();
                });
            }
            return false;
        });
        $('.ajax-form').find('span.close').bind('click', function () {
            $('.ajax-form').slideUp(250);
        });
        $('[data-entity="button"]').bind('click', function () {
            var url = $(this).attr('href');
            var errors = [];
            var field = null;
            var name = $('[data-entity="name"]').val();
            var description = $('[data-entity="description"]').val();
            var address = $('[data-entity="address"]').val();
            var type = $('[data-entity="type"]').find('[selected="selected"]').text();
            if (name.length <= 0) {
                field = $('[data-entity="name"]');
                errors.push('Supplier/amenity name is required.');
            }
            if (address.length <= 0) {
                if (!field) {
                    field = $('[data-entity="address"]');
                }
                errors.push('Supplier/amenity address is required.');
            }
            if (errors.length <= 0) {
                $.post(url, {
                    'name': trim(name),
                    'description': trim(description),
                    'address': trim(address),
                    'type': type,
                    'url': '{{ supplier.slug }}'
                }, function (response) {
                    $('.ajax-form').slideUp(250);
                    $('.ajax-success').slideDown(250);
                });
            } else {
                alert(errors.join('\n'));
                if (field) {
                    field.focus();
                }
            }
        });

        NIRIT.SupplierMap = function () {
            this.key = '{{ BING_MAPS_KEY }}';
            this.map = null;
        };

        NIRIT.SupplierMap.prototype.getMap = function () {
            var self = this;

            // Initialize the map
            var code = '{{ supplier.location }}'.split(',');
            var loc = new Microsoft.Maps.Location(parseFloat(code[0]), parseFloat(code[1]));
            this.map = new Microsoft.Maps.Map(document.getElementById("map"), {
                credentials: this.key,
                mapTypeId: Microsoft.Maps.MapTypeId.road,
                center: loc,
                zoom: 16
            });

            // Add pushpin
            this.map.entities.push(new Microsoft.Maps.Pushpin(loc, {
                icon: '{{ STATIC_URL }}images/map-marker.png',
                width: 54,
                height: 34
            }));
        };

        new NIRIT.SupplierMap().getMap();

        {% if user.is_authenticated %}
        new NIRIT.Board({
            'data': {{ data|safe }},
            'notices': {{ notices|safe }},
            'spaces': ['{{ space.codename }}'], // Can only post to current space
            'token': '{{ user.get_profile.token }}',
            'account': {
                'username': '{{ user.get_profile.username }}',
                'company': {
                    'name': '{{ user.get_profile.company.name }}',
                    'codename': '{{ user.get_profile.company.codename }}'
                },
                'roles': {{ user.get_profile.roles|safe }},
                'starred': {{ user.get_profile.get_starred|safe }}
            },
            'filter': {
                'type': 'supplier',
                'value': '{{ mention }}'
            }
        });
        {% endif %}

    });
</script>
{% endblock %}
