{% extends "nirit/base.html" %}
{% load static %}

{% block title %}Nirit | Member Profile | {{ member.name }}{% endblock %}

{% block extrahead %}<script type="text/javascript" src="{% static "js/jquery.color-2.1.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/nirit.board.js" %}"></script>{% endblock %}

{% block content %}
<div class="content account">

    <div id="main">

        <div class="contact-form hidden">
            <p class="box-title">Contact {{ member.name }} <span class="close"></span></p>
            <textarea id="contact_form_subject" class="elastic no-limit" rows="2" cols="70"></textarea>
            <button id="contact_form_submit" class="button">Submit</button>
        </div>
        <div class="contact-success label big hidden">
            Your message has been sent to {{ member.name }}.
        </div>

        <div class="heading">
            <div class="box filled padded">
                <h1>
                    <span>{{ member.name }}</span>
                    <ul>
                        <li class="right">
                            {% if user == member.user %}
                            <a class="button" href="/member/account/edit">Edit</a>
                            {% else %}
                            <a id="contact_button" class="button create" href="">Contact <span></span></a>
                            {% endif %}
                        </li>
                    </ul>
                </h1>
                {% if member.avatar %}
                    <img id="avatar" src="{{ member.avatar }}" alt="{{ member.name }}" width="60" height="auto" />
                {% endif %}
                {% if member.job_title %}<p class="job-title">{{ member.job_title }}</p>{% endif %}
                {% if member.roles %}
                    <div class="roles">
                        {% for role in member.roles %}
                            <span class="label">{{ role }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                <h2>
                    <a href="/company/{{ member.company.link }}">{{ member.company.name }}</a>
                </h2>
            </div>
        </div>

        {% if member.bio %}
        <div class="bio">
            <h3>Background</h3>
            {{ member.bio|linebreaks }}
        </div>
        {% endif %}

        <div class="notices">
            <h3>Active Notices</h3>
            <div id="cards">
                <div id="stream"></div>
                <a id="plus" class="button plus" href=""><span>More</span></a>
            </div>
        </div>

    </div>

    <div id="sidebar">
        {% if companies_awaiting %}
        <div class="box padded">
            <h3>Companies Awaiting Approval</h3>
            <ul class="approval-list company">
                {% for company in companies_awaiting %}
                <li class="company" rel="{{ company.codename }}">{{ company.name }}
                    <a href="" class="activate">Approve</a>
                    <a href="" class="ban">Decline</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="box">
            <div class="ad-slot">
                {% include "adverts/mpu.html" %}
            </div>
        </div>
        {% if user.get_profile == member %}
            {% if member.buildings|length > 1 %}
            <div class="box padded">
                <h3>Select primary building</h3>
                <p class="description">The primary building defines your active view,
                    and sets the default filters, including the Notices displayed on your Profile.</p>
                <ul>{% for building in member.buildings %}
                    <li class="{% if building == member.building %}active{% else %}inactive{% endif %}">
                        {% if user == member.user %}
                            {% if building == member.building %}
                                {{ building.name }} <span class="primary">(primary)</span>
                            {% else %}
                                <a href="?set-active-building={{ building.codename }}" title="Set as primary building">{{ building.name }}</a>
                            {% endif %}
                        {% else %}
                            {{ building.name }}
                        {% endif %}
                    </li>
                {% endfor %}</ul>
            </div>
            {% endif %}
        {% endif %}
        {% if member.networked.all.count > 0 %}
        <div class="box padded">
            <h3>{{ member.name }}'s Network</h3>
            <ul>
                {% for company in member.networked.all %}
                <li><a href="/company/{{ company.link }}" title="{{ company }}">{{ company }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        new NIRIT.Board({
            'data': {{ data|safe }},
            'notices': {{ notices|safe }},
            'buildings': ['{{ member.building.codename }}'], // Can only post to active building
            'token': '{{ member.token }}',
            'account': {
                'username': '{{ member.codename }}',
                'company': {
                    'name': '{{ member.company.name }}',
                    'codename': '{{ member.company.codename }}'
                },
                'roles': {{ member.roles|safe }},
                'starred': {{ member.get_starred|safe }}
            },
            'filter': {
                'type': 'user',
                'value': '{{ member.codename }}'
            }
        });

        // Contact Form
        $('.elastic').elastic();
        $('#contact_button').bind('click', function () {
            $('#contact_form_subject').val(''); // clear content
            if ($('.contact-form').is(':visible')) {
                $('.contact-form').slideUp(250);
            } else {
                $('.contact-form').slideDown(250, function () {
                    $('#contact_form_subject').focus();
                });
            }
            return false;
        });
        $('.contact-form').find('span.close').bind('click', function () {
            $('.contact-form').slideUp(250);
        });
        $('#contact_form_submit').bind('click', function () {
            var subject = $('#contact_form_subject').val();
            if (subject.length > 0) {
                $.post('/contact/member/{{ member.codename }}', {
                        'subject': trim(subject)
                }, function (response) {
                    $('.contact-form').slideUp(250);
                    $('.contact-success').slideDown(250);
                });
            }
        });

        {% if staff_awaiting or companies_awaiting %}
        // Handle Companies approval
        NIRIT.Approval = function () {
            this.init();
        };
        
        NIRIT.Approval.prototype.init = function () {
            var self = this;
            $('.approval-list').find('.company').each(function () {
                var entity = $(this);
                entity.find('a').bind('click', function () {
                    // URL format: "/approval/company/codename/activate|ban
                    var url = '/approval/' + entity.attr('class');
                    url += '/' + entity.attr('rel');
                    url += '/' + $(this).attr('class');
                    $.get(url, function () {
                        // Remove the entity from the screen on success
                        self.remove(entity);
                    });
                    return false;
                });
            });
        };

        NIRIT.Approval.prototype.remove = function (entity) {
            var self = this;
            var entity_type = entity.attr('class');
            entity.slideUp(function () {
                entity.remove();
                self.refresh(entity_type);
            });
        };

        NIRIT.Approval.prototype.refresh = function (entity_type) {
            if ($('.approval-list.'+entity_type).find('.'+entity_type).length <= 0) {
                $('.approval-list.'+entity_type).hide().append('<li>No pending requests remaining.</li>').slideDown();
            }
        };

        new NIRIT.Approval();
        {% endif %}
    });
</script>
{% endblock %}
