{% extends "nirit/base.html" %}

{% block title %}Nirit | My Account{% endblock %}

{% block content %}
<div id="account" class="content doublepadded">

    <div class="box padded">
        <h1>{{ user.username }} <span class="role">({{ account.roles }})</span></h1>
        <h2>{% for organization in account.organizations %}{% if not forloop.first %}, {% endif %}
            <a href="/company/{{ organization.link }}">{{ organization.name }}</a>
        {% endfor %}</h2>
    </div>
    <div class="box padded">
        <h3>Buildings</h3>
        <ul>{% for building in account.buildings %}
            <li class="{% if building == user.get_profile.building %}active{% else %}inactive{% endif %}">
                {% if building == user.get_profile.building %}
                    {{ building.name }} <span>(active)</span>
                {% else %}
                    <a href="?set-active-building={{ building.codename }}" title="Set as active building">{{ building.name }}</a>
                {% endif %}
            </li>
        {% endfor %}</ul>
    </div>

</div>
{% endblock %}
